/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-family: 'Arial', Helvetica, sans-serif;
  //font-weight: normal;
  margin: 0;
  padding: 0;
}
html,
body {
  font: normal 16px/18.66px 'Arial', Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  bottom: 0;
  height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
}

body {
  background: url('/assets/images/refereebg1.jpg') repeat fixed center center
    black;
  //  height: 100%;
  //  position: fixed;
  //  width: 100%;
  //  z-index: -1;
}

@media only screen and (max-width: 599px) {
  #tabletFooter {
    display: none;
  }
  #regularFooter {
    display: block;
  }
  .container {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
  }
  body {
    background: white;
  }
  .nav-item {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 600px) {
  #tabletFooter {
    display: none;
  }
  #regularFooter {
    display: block;
  }

  .container {
    height: 100%;
    padding: 0;
    position: relative;
  }
  body {
    background: white;
  }
  .nav-item {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  #tabletFooter {
    display: none;
  }
  #regularFooter {
    display: block;
  }

  .container {
    height: 100%;
    padding: 0;
    position: relative;
  }
  body {
    background: url('/assets/images/refereebg.jpg') repeat fixed center center
      transparent;
    opacity: 0.987679;
  }
  .nav-item {
    font-size: 1em;
  }
}
@media only screen and (min-width: 992) {
  #tabletFooter {
    display: none;
  }
  #regularFooter {
    display: block;
  }
  body {
    background: url('/assets/images/refereebg.jpg') repeat fixed center center
      transparent;
    opacity: 0.987679;
  }
  .container {
    margin: 0 auto;
    height: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    position: relative;
  }
  .nav-item {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1200) {
  #tabletFooter {
    display: none;
  }
  #regularFooter {
    display: block;
  }
  body {
    background: url('/assets/images/refereebg.jpg') repeat fixed center center
      transparent;
    opacity: 0.987679;
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
  }
  .nav-item {
    font-size: 1em;
  }
}

.btn,
.btn-sm {
  min-width: 60px;
}

$elegantshd-grey: #131313;
$elegantshd-lt-grey: #e7e5e4;
.elegantshd {
  color: $elegantshd-grey;
  background-color: $elegantshd-lt-grey;
  letter-spacing: 0.15em;
}
.bigFont {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic,
    'AppleGothic', sans-serif;
  font-size: 1.875rem;
  padding: 3%;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: bolder;
}

.fadeInForm {
  opacity: 0;
  animation: fadeInForm 0.5s ease-in forwards;
}

.fadeOutForm {
  opacity: 1;
  animation: fadeOutForm 0.3s ease-out forwards;
}

@keyframes fadeInForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutForm {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card {
  border-radius: 0;
  padding: 2em;
}

.form-size {
  max-width: 50%;
  min-width: 50%;
  margin: auto;
}

.list-group {
  margin-bottom: 2em;
}

.profiles {
  max-width: 43.75rem;
  margin: auto;
}

.profiles .card:nth-child(1) {
  z-index: 10;
}

.profile-div {
  margin-left: 1em;
}

.profile-text {
  font-size: 1.125rem;
  color: blue;
}

.profile-text2 {
  color: red;
  text-indent: 3.125rem;
  font-weight: bolder;
  background-color: white;
}

div.card {
  padding: 2em;
}
.card-block .card {
  margin: 1em;
}

.profileLabel {
  text-align: right;
  width: 28%;
  margin: auto 1%;
}

.profileItem {
  display: inline-block;
  width: 67%;
  margin: auto 1%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background: white;
}

.etched-text {
  text-shadow: 0 2px white;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b8bec5;
}

/*
bootstrap table theme
*/

.ngx-datatable.bootstrap {
  box-shadow: none;
  font-size: 13px;
  .datatable-header {
    height: unset !important;
    .datatable-header-cell {
      vertical-align: bottom;
      padding: 0.75rem;
      border-bottom: 1px solid #d1d4d7;
      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }
  .datatable-body {
    .datatable-body-row {
      vertical-align: top;
      border-top: 1px solid #d1d4d7;
      &.datatable-row-even {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.active {
        background-color: #1483ff;
        color: #fff;
      }
      .datatable-body-cell {
        padding: 0.75rem;
        text-align: left;
        vertical-align: top;
      }
    }
  }
  .datatable-footer {
    background: #424242;
    color: #ededed;
    margin-top: -1px;
    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }
    .datatable-pager {
      margin: 0 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 0px;
          &:not(.disabled) {
            &.active,
            &:hover {
              a {
                background-color: #545454;
                font-weight: bold;
              }
            }
          }
        }
      }
      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #ededed;
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }

  // Summary row styles
  .datatable-summary-row {
    .datatable-body-row {
      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
}
