<app-toast [message]="toast.message"></app-toast>
<div class="card col-sm-12">
  <div class="card">
    <h4 class="card-header elegantshd bigFont">Contact Us</h4>
    <div class="card-block">
      <form [formGroup]="contactForm" (ngSubmit)="contact()">
        <div class="input-group required-field-block" [ngClass]="setClassfullname()">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input class="form-control" type="text" name="fullname" formControlName="fullname" placeholder="Fullname" autofocus aria-describedby="basic-addon-fullname">
          <span class="input-group-addon" id="basic-addon-fullname" style="color: orange; font-size: 10px;font-style: italic">Max: 50  .</span>
          <div class="required-icon" data-toggle="tooltip" data-placement="left" title="Required field!">
            <div class="text">*</div>
          </div>
        </div>
        

        <div class="input-group required-field-block" [ngClass]="setClassEmail()">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" aria-describedby="basic-addon-email"
            email>

          <span class="input-group-addon" id="basic-addon-email" style="color: orange; font-size: 10px;font-style: italic">Valid Email  .</span>
          <div class="required-icon" data-toggle="tooltip" data-placement="left" title="Required field!">
            <div class="text">*</div>
          </div>
        </div>

      <div class="input-group required-field-block" [ngClass]="setClassSubject()">
        <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
        <input class="form-control" type="text" name="subject" formControlName="subject" placeholder="Subject" autofocus aria-describedby="basic-addon-subject">
        <span class="input-group-addon" id="basic-addon-subject" style="color: orange; font-size: 10px;font-style: italic">Max: 50  .</span>
        <div class="required-icon" data-toggle="tooltip" data-placement="left" title="Required field!">
          <div class="text">*</div>
        </div>
      </div>

      <div class="input-group required-field-block" [ngClass]="setClassTextMessage()">
        <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
        <!--<input class="form-control" type="textarea" name="textMessage" formControlName="textMessage" placeholder="Message" autofocus aria-describedby="basic-addon-textMessage">-->
        <textarea ng-model="textMessage" class="form-control" name="textMessage" formControlName="textMessage" placeholder="Message" autofocus aria-describedby="basic-addon-textMessage"></textarea>
        <span class="input-group-addon" id="basic-addon-textMessage" style="color: orange; font-size: 10px;font-style: italic">Max: 900  .</span>
        <div class="required-icon" data-toggle="tooltip" data-placement="left" title="Required field!">
          <div class="text">*</div>
        </div>
      </div>
        <br>
       
        <button class="btn btn-primary btn-sm" type="submit" [disabled]="!contactForm.valid"><i class="fa fa-paper-plane-o"></i> Send</button>
      </form>
    </div>
  </div>
</div>