<div class="row breadcrumb col-sm-12 ">
  <table class="table table-responsive text-sm-center">
    <thead>
      <tr class="breadcrumb">
        <th><span class="font-weight-bold breadcrumb-item text-md-center bg-success text-white"><p>U17 to U19</p><p>90 minutes</p></span></th>
        <th><span class="font-weight-bold breadcrumb-item active text-md-center bg-success text-white"><p>Per Team for 3 Referees</p><p>$81</p></span></th>
        <th><span class="font-weight-bold breadcrumb-item text-md-center bg-success text-white"><p>R-$66</p><p>AR-$48</p></span></th>
        <th><span class="font-weight-bold breadcrumb-item text-md-center bg-success text-white"><p>Per Team for 2 Referees</p><p>$65</p></span></th>
        <th><span class="font-weight-bold breadcrumb-item text-md-center bg-success text-white"><p>R-$78</p><p>AR-$52</p></span></th>
        <th><span class="font-weight-bold breadcrumb-item text-md-center bg-success text-white"><p>1 Referee</p><p>R-48</p></span></th>
      </tr>
    </thead>
    <tbody>
      <tr class="breadcrumb">
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-info text-white"><p>U15 to U16</p><p>80 minutes</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item active text-md-center bg-info text-white"><p>Per Team for 3 Referees</p><p>$72</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-info text-white"><p>R-$56</p><p>AR-$43</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-info text-white"><p>Per Team for 2 Referees</p><p>$58</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-info text-white"><p>R-$70</p><p>AR-$46</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-info text-white"><p>1 Referee</p><p>R-45</p></span></td>
      </tr>

      <tr class="breadcrumb">
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-warning text-white"><p>U13 to U14</p><p>70 minutes</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item active text-md-center bg-warning  text-white"><p>Per Team for 3 Referees</p><p>$63</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-warning  text-white"><p>R-$50</p><p>AR-$38</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-warning text-white"><p>Per Team for 2 Referees</p><p>$50</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-warning text-white"><p>R-$60</p><p>AR-$40</p></span></td>
        <td><span class="font-weight-bold breadcrumb-item text-md-center bg-warning text-white"><p>1 Referee</p><p>R-40</p></span></td>
      </tr>

    </tbody>
  </table>
  <div class="breadcrumb col-sm-12">

    <label>Soccer for short sided games/Basketball/Volleyball/Flag Football/Softball/Rugby/ = Minimum $30 per Referee per hour for one-time
          events or tournaments.</label><br>

  </div>
  <div class="breadcrumb col-sm-12">
    <label>We should be able to change the pricing on our end in case a league receives a discount or can only afford lower than $30.
              A lot of leagues are $25 per hour for one sport, but $30 per hour on another sport.</label>
  </div>

</div>
