<div class="container bg-faded col-sm-12" style="opacity: .9;filter: alpha(opacity=90);">
	<!--<div class="row card">-->
		<div class="row">
      <h4 class="elegantshd bigFont">Who Uses Rent-A-Ref</h4>
      <div class="col-sm-12"><span style="text-align:center">
<h4> In addition to our On-Demand Service</h4>
<h4>We provide referees for the following companies</h4></span></div>
<hr>
    <!--<div class="row">
    <div class="block">

        <a href="https://www.xbootstrap.com/"><i class="hoverbtn effect-5 sub-a">Hover Over</i></a>
    </div>
    <div class="block">

        <i class="hoverbtn effect-6">Hover Over</i>
    </div>
    <div class="block">

        <i class="hoverbtn effect-7 sub-a">Hover Over</i>
    </div>
    <div class="block">

        <i class="hoverbtn effect-7 sub-b">Hover Over</i>
    </div>
</div>-->



<div class="row">
    <!--<div class="block">

        <i class="hoverbtn effect-8">Hover Over</i>
    </div>
    <div class="block">

        <i class="hoverbtn effect-9 sub-a">Hover Over</i>
    </div>
    <div class="block">

        <i class="hoverbtn effect-9 sub-b">Hover Over</i>
    </div>-->
    <div class="block">
        <a href="http://www.zogsports.com/" target="_blank"><i class="hoverbtn effect-1 sub-a quoteImage"><img src="/assets/images/zogsport.png" class="img-fluid img-responsive" width=40%>
        </i></a>
    </div>
    <div class="block">
        <a href="https://www.adidas.com/" target="_blank"><i class="hoverbtn effect-4 sub-b"><span style="padding-left:20px; margin-left:20px;"><img src="/assets/images/adidas.png" class="img-fluid img-responsive" width=99%></span></i></a>
    </div>
    <div class="block">
        <a href="https://lasportsnet.com/" target="_blank"><i class="hoverbtn effect-1 sub-aa quoteImage"><img src="/assets/images/LSNLogo.gif" class="img-fluid img-responsive" width=99%>
        </i></a>
    </div>
    <div class="block">
        <a href="http://socal-sts.weebly.com/" target="_blank"><i class="hoverbtn effect-4 sub-b"><span style="padding-left:20px; margin-left:20px;"><img src="/assets/images/sts.png" class="img-fluid img-responsive" width=99%></span></i></a>
    </div>
</div>


<div class="row">
    <div class="block">
        <a href="#" target="_blank"><i class="hoverbtn effect-4 sub-b"><span style="padding-left:20px; margin-left:20px;"><img src="/assets/images/orange.png" class="img-fluid img-responsive" width=99%></span></i></a>
    </div>
</div>
<!--
    <div class="block">
        <i class="hoverbtn effect-1 sub-a">Hover Over</i>
    </div>
    <div class="block">
        <i class="hoverbtn effect-1 sub-b">Hover Over</i>
    </div>
    <div class="block">
        <i class="hoverbtn effect-2 sub-a">Hover Over</i>
    </div>
    <div class="block">
        <i class="hoverbtn effect-2 sub-b">Hover Over</i>
    </div>-->
</div>

<!--
<div class="row">
    <div class="block">
        <i class="hoverbtn effect-3 sub-a">Hover Over</i>
    </div>
    <div class="block">
        <i class="hoverbtn effect-3 sub-b">Hover Over</i>
    </div>
    <div class="block">

        <i class="hoverbtn effect-4 sub-a" style="margin-right:10px;">Hover Over</i>
    </div>
    
</div>-->
</div>