<div class="card">

  <h1 class="etched-text"> Event Assignment</h1>
  <div class="card-block horizontal-and-vertical-centering " *ngIf="(!games || games.length === 0)">
    <div class="form-size">
      <p>There is no events data.</p>
    </div>
  </div>
  <div class="card-block" *ngIf="games && games.length > 0">
    <ngx-datatable class="bootstrap"
      [rows]="games"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalSorting]="true"
      [loadingIndicator]="isLoading"
      (sort)="onSort($event)"
      [externalPaging]="true"
      [count]="page.total_elements"
      [offset]="page.offset"
      [limit]="page.limit"
      (page)='setPage($event)'
      >
    </ngx-datatable>
 
  </div>

</div>