<div class="max-width">
  <table class="table">
    <tbody>
      <tr class="org-table-item ">
        <td class="text-left">
          Kids Games
        </td>
        <td class="text-right">
          {{model.kids_games}} x 
        </td>
        <td class="text-right item-width">
          {{model.kids_game_price | currency:'USD'}}
        </td>
        <td class="text-right item-width">
        {{model.kids_games_total | currency:'USD' }}
        </td>
      </tr>
      <tr class="org-table-item ">
        <td class="text-left">
          Teen Games
        </td>
        <td class="text-right">
          {{model.teen_games}} x 
        </td>
        <td class="text-right item-width">
          {{model.teen_game_price | currency:'USD'}}
        </td>
        <td class="text-right item-width">
          {{model.teen_games_total | currency:'USD'}}
        </td>
      </tr>
      <tr class="org-table-item ">
        <td class="text-left">
          Adult Games
        </td>
        <td class="text-right">
          {{model.adult_games}} x 
        </td>
        <td class="text-right item-width">
          {{model.adult_game_price | currency:'USD'}}
        </td>
        <td class="text-right item-width">
          {{model.adult_games_total | currency:'USD'}}
        </td>
      </tr>
      <tr>
        <td colspan="4"></td>
      </tr>
      <tr class="org-table-item ">
        <td colspan="3" class="text-right">
          TOTAL
        </td>
        <td class="text-right">
          {{model.total | currency:'USD'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>