<div class="card col-sm-12">
  <div class="card">
    <h4 class="card-header elegantshd bigFont">Reset Your Password</h4>
    <div class="card-block">
      <div class="card">
        <div class="card-block numberbg">
          <form [formGroup]="emailForm" (ngSubmit)="onSubmit()"  *ngIf="!hideShowDiv else showDiv" >
            <p>Please provided your uesername below to reset your password. </p>
            
              <div class="input-group" [ngClass]="setClassEmail()">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
            </div>
          <br>
            <p><button type="submit" class="btn btn-primary" [disabled]="!emailForm.valid">Submit</button></p>
            <p>or if you've forgotten your username, <span style="font-size: 18px; color: blue">contact us</span> and someone would get in touch with you.</p>

          </form>
          <ng-template #showDiv>
            <blockquote cite="">
              <p>An email has been sent to you.</p>
              <p>Please check your email and the the password reset link to rest your password.</p>
            </blockquote>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>