<div style="min-height: 400px; max-height: 500px; max-width: 1000px;">
	<div *ngIf="selectedTab=='cropping'" style="width:100%; display: flex;justify-content: center ;align-items: flex-end;">
		<image-cropper
		    [imageChangedEvent]="imageChangedEvent"
		    [maintainAspectRatio]="true"
		    [aspectRatio]="1 / 1"
		    [resizeToWidth]="200"
		    [onlyScaleDown]="true"
		    format="png"
		    (imageCropped)="imageCropped($event)"
		    (imageLoaded)="imageLoaded()"
		    (loadImageFailed)="loadImageFailed()">
		</image-cropper>

		<img [src]="croppedImage" width="200"/>
	</div>


	<div style="" *ngIf="selectedTab =='loading'">
		<rar-uploader (selectedFilesEvent)="selectedFilesEvent($event)"></rar-uploader>
	</div>
</div>