<rar-modal
[name]="modalName"
[title]="title"
[submitText]="submitText"
[cancelText]="cancelText"
[disableSubmit]="disableSubmit"
(submit)="submitModal($event)"
(cancel)="closeModal($event)"
#uploaderModal
>
<div class="container">
	<ul class="nav nav-tabs">
		<li class="nav-item"><a class="nav-link" href="#" [class.active]="isSelectedTab('loading')"
			(click)="switchToTab($event,'loading');">Upload</a></li>
		<li class="nav-item"><a class="nav-link" href="#" [class.active]="isSelectedTab('cropping')"
			(click)="switchToTab($event,'cropping');">Crop</a></li>
	</ul>

	<div *ngIf="isSelectedTab('loading')">
		<rar-uploader (selectedFilesEvent)="selectedFilesEvent($event)"></rar-uploader>
	</div>

	<div *ngIf="isSelectedTab('cropping')" class="row">
		<div class="col-9" style="max-height: 400px;">
			<image-cropper
			    [imageChangedEvent]="imageChangedEvent"
			    [imageBase64]="initialImage"
			    [maintainAspectRatio]="true"
			    [aspectRatio]="1 / 1"
			    [resizeToWidth]="200"
			    [onlyScaleDown]="true"
			    format="png"
			    (imageCropped)="imageCropped($event)"
			    (imageLoaded)="imageLoaded()"
			    (loadImageFailed)="loadImageFailed()">
			</image-cropper>
		</div>
		<div class="col-3">
			<div class="cropped-image">
				<img [src]="croppedImage" width="200"/>
			</div>
		</div>
	</div>

</div>
</rar-modal>