<div class="row">
  <div class="col-12">
    <app-toast [message]="toast.message"></app-toast>

    <div class="card">
      <div class="form-size">
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
          <formly-form [model]="model" [fields]="fields">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.valid">Create Event</button>
          <span class="spacer">&nbsp;</span>
          <button type="submit" class="btn btn-danger btn-sm" title="Cancel" (click)="onCancel($event)">Cancel</button>
          </formly-form>
        </form>
      </div>
    </div>
  </div>
</div>
