<div class="row">
  <div class="col-12">

    <div class="card horizontal-and-vertical-centering " *ngIf="isViewState('noEvents')">
      <div class="form-size">
        <strong class="etched-text">You have no <i>Events</i>.</strong>
        <p>You need to create at least one event. Once the event you can create and assign <i>games</i> to the event.
          <br />Although creating games is optional, it allows more fine grained control of each event. Note a game can have the same address or a different address from avenue.</p>
        <button class="btn btn-primary btn-sm" (click)="createNewEvent()" title="Click to create new event">New Event</button>
      </div>
    </div>

    <div class="card" *ngIf="isViewState('editEvent');">
      <app-toast [message]="toast.message"></app-toast>

      <div class="card form-size">
        <events-form (ngSubmit)="submitEvent($event)" (ngCancel)="setEventsMode($event)"
         [model]="model"
         [states]="states"
         [sports]="sports"></events-form>
      </div>

    </div>

    <div class="card" *ngIf="isViewState('listEvents')">
      
      <div class="form-size">
        <!--
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th *ngFor="let title of titles" scope="col">
                {{title}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games" (click)="editEvents(game);" class="org-table-item ">
              <td>
                {{game.event_name}}
              </td>
              <td>
                {{formatDate(game.event_date)}}
              </td>
              <td>
                {{game.venue_name}}
              </td>
              <td>

              <ng-container *ngIf="game.status!=='pending'">
                {{game.status}}
              </ng-container>

              <ng-container *ngIf="game.status=='pending'">
                <button class="btn btn-success btn-sm" (click)="payForEvent(game)" title="Click to pay for this event">Pay</button>
              </ng-container>

              </td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="editEvents(game)" title="Click to edit this event">Edit</button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteEvent(game)" title="Click to delete event">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
-->
        <ngx-datatable class="bootstrap"
          [rows]="games"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [externalSorting]="true"
          [loadingIndicator]="isLoading"
          (sort)="onSort($event)"
          [externalPaging]="true"
          [count]="page.total_elements"
          [offset]="page.offset"
          [limit]="page.limit"
          (page)='setPage($event)'
          [selected]="selected"
          [selectionType]="'single'"
          (select)='onSelect($event)'
          >
          <ngx-datatable-column name="Event Name" prop="event_name" editable="false"></ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="event_date" editable="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value | date :'MMM dd, yyyy' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Venue" prop="venue_name" editable="false"></ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status" editable="false"></ngx-datatable-column>

          <ngx-datatable-column name="" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-success btn-sm" (click)="payForEvent(value)" title="Click to pay for this event">Pay</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-primary btn-sm" (click)="editEvents(value)" title="Click to edit this event">Edit</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-danger btn-sm" (click)="deleteEvent(value)" title="Click to delete event">Delete</button>
            </ng-template>
          </ngx-datatable-column>                 
        </ngx-datatable>



        <hr />
        <button class="btn btn-primary btn-sm new-org-button" (click)="createNewEvent()" title="Click to create new event">New Event</button>
      </div>
    </div>

    <div class="card" *ngIf="isViewState('payingForEvent')">

      <mat-card>
        <header>
          <h1>Payment</h1>
        </header>
        <br />
        <div class="row">
          
          <div class="col-6">
            <event-order-table [model]="model"></event-order-table>
          </div>

          <div class="col-6">
             <rar-stripe [amount]="model.total"></rar-stripe>
          </div>

        </div>
      </mat-card>

    </div>

  </div>
</div>