.etched-text {
	text-shadow: 0 2px white;
	font-size: 1.5rem;
	font-weight: bold;
	color: #b8bec5;
}
:host /deep/ .card {
	.form-size {
		max-width: 90%;
		min-width: 90%;
		margin: auto;
	}

	.event-form {
		width: 100%;
		max-width: 600px;
		margin-right: auto;
		margin-left: auto;
	}

	.mat-radio-button {
		padding-right: 15px;
	}
}
