<div class="row">
  <div class="col-12">

    <div class="card horizontal-and-vertical-centering " *ngIf="!isEditing && (!games || games.length === 0)">
      <div class="form-size">
        <strong class="etched-text">You have no <i>Events</i>.</strong>
        <p>You need to create at least one event. Once the event you can create and assign <i>games</i> to the event.
          <br />Although creating games is optional, it allows more fine grained control of each event. Note a game can have the same address or a different address from avenue.</p>
        <button class="btn btn-primary btn-sm" (click)="goNewEvent({})" title="Click to create new event">New Event</button>
      </div>
    </div>

    <div class="card" *ngIf="isEditing">
      <app-toast [message]="toast.message"></app-toast>

      <div class="card form-size">
        <form [formGroup]="form" (ngSubmit)="submitEvent(model)">
          <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.invalid">buttonText</button>
          <span class="spacer">&nbsp;</span>
          <button type="submit" class="btn btn-danger btn-sm" title="Cancel" (click)="onCancel($event)">Cancel</button>
          </formly-form>
        </form>
      </div>

    </div>

    <div class="card" *ngIf="!isEditing && games?.length > 0">
      <div class="form-size">
        <table class="table table-bordered table-hover">
          <tr>
            <th *ngFor="let title of titles" scope="col">
              {{title}}
            </th>
          </tr>

          <tr *ngFor="let game of games" (click)="editEvents(game.id);" class="org-table-item ">
            <td>
              {{game.id}}
            </td>
            <td>
              {{game.event_name}}
            </td>
            <td>
              {{game.event_date}}
            </td>
            <td>
              {{game.venue_name}}
            </td>
            <td>
              {{game.status}}
            </td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editEvent(game.id)" title="Click to edit this event">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="goDeleteEvent(game.id)" title="Click to delete event">Delete</button>
            </td>
          </tr>
        </table>
        <hr />
        <button class="btn btn-primary btn-sm new-org-button" (click)="goNewEvent({})" title="Click to create new event">New Event</button>
      </div>
    </div>

  </div>
</div>