<div class="card col-sm-12">
  <div class="card">
  <h4 class="card-header elegantshd bigFont">Account suspended</h4>
  <div class="card-block">
    <div class="card">
      <div class="card-block numberbg">
        <form name="resetForm" (ngSubmit)="onSubmit()">
    <p>Your account has been suspended due to multiple failed login attempts</p>
    <p>Please, click this link to <button type="submit" class="btn btn-primary">Reset your password</button></p>
<p>or <span style="font-size: 18px; color: blue">contact us</span> and someone would get in touch with you.</p>
      
        </form>
      </div>
    </div>
  </div>
</div>
</div>
