:host {
	.container {
		padding: 10px;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.officialsName {
		margin: 2px 5px 2px 0px;
	}

	.item {
		margin: 10px;
		min-width: 200px;
		max-width: 200px;
		min-height: 340px;
		max-height: 340px;
		cursor: pointer;
	}

	.addresses {
		display: flex;
		background: white;
		justify-content: space-around;
		flex-direction: column;
		> div {
			width: 98%;
			margin: 1%;
		}
		> rar-google-map {
			width: 98%;
			margin: 1%;
		}
	}

	.address-list {
		margin: 1rem auto;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		cursor: pointer;
	}

	/deep/ datatable-body-row {
		cursor: pointer;
	}

	@media only screen and (max-width: 599px) {
	}
	@media only screen and (min-width: 600px) {
	}
	@media only screen and (min-width: 768px) {
		.addresses {
			display: flex;
			background: white;
			justify-content: space-around;
			flex-direction: row;
			> div {
				width: 31%;
				margin: 1%;
			}
			> rar-google-map {
				width: 61%;
				margin: 1%;
			}
		}
	}
	@media only screen and (min-width: 992) {
	}
	@media only screen and (min-width: 1200) {
	}
}
