<div class="row">

    <div class="col-12">
        <div class="card">
            <h3>Game Referees</h3>
        	<div class="container">
        		<div *ngFor="let referee of referees" class="item">
     
                    <rar-image [errorImage]="defaultImage" [image]="getImageAddress(referee)" [width]="130"></rar-image>
           
                    <div>
                        <h6>name</h6>
                        {{referee.person.firstname}}<br />
                        <ng-template *ngIf="referee.person.middlename">
                            <p>{{referee.person.middlename}}</p>
                        </ng-template>
                        {{referee.person.lastname}}
                    </div>
                    <hr />
                    <div *ngFor="let phone of referee.phones">
                        <label>{{phone.type}}</label>
                        {{phone.number}}
                    </div>
                </div>
        	</div>
            <span>
                <button class="btn btn-primary btn-sm" (click)="backToSchedule($event)"
                 title="Click to go back to schedule.">Back to Schedule</button>
            </span>
        </div>
    </div>

    <div class="col-12">
        <div class="addresses">
            <div>
                <h6>Addresses</h6>
                <div>asdfasdfadsfasdfasdfasdfasdf</div>
                <hr />
                <schedule-address-form (ngSubmit)="findRoute($event)"></schedule-address-form>
            </div>
            <rar-google-map
             [show-directions]="showDirections"
             [origin]="origin"
             [destination]="destination"></rar-google-map>
        </div>
    </div>

</div>
