<div class="modal fade bounceInDown bounceOutUp"
  [class.show]="visible" [class.display]="visible"
  [class.bd-example-modal-lg]="size == 'lg'"
  [class.bd-example-modal-md]="size == 'md'"
  [class.bd-example-modal-sm]="size == 'sm'"
 id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" 
  [class.modal-lg]="size == 'lg'"
  [class.modal-md]="size == 'md'"
  [class.modal-sm]="size == 'sm'"
  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="closeModal($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
          *ngIf="backText" (click)="backModal($event)">{{backText}}</button>
        <button type="button" class="btn btn-secondary" 
          *ngIf="cancelText" (click)="closeModal($event)">{{cancelText}}</button>
        <button type="button" class="btn btn-primary" [class.disabled]="disableSubmit"
          *ngIf="submitText" (click)="submitModal($event)">{{submitText}}</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="closeModal($event)"></div>