<!--footer start from here-->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> <img src="assets/images/reficon1.png" class="img-fluid img-responsive" width=auto alt="Rent A Ref"><img src="assets/images/reftext.gif"
            class="img-fluid img-responsive" alt="Responsive image" width=50% max-width=100% height=auto display="block"></div>      

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">       
        <ul class="footer-ul">          
          <li><a routerLink="/privacy-policy" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-file-text-o"></i><span style="color: #ffffff"> Privacy Policy</span>
        </a></li>
          <li><a routerLink="/terms-and-conditions" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-eye"></i><span style="color: #ffffff"> Terms & Conditions</span>
        </a></li>         
        </ul>
      </div>     
      <div class="col-md-3 col-sm-6 paddingtop-bottom">       
      </div>
      <div class="social-icons img-responsive">
        <ul class="nomargin">
          <a href="https://www.facebook.com/rentaref"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
          <a href="https://twitter.com/rentaref"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
          <a href="https://www.instagram.com/rentaref/"><i class="fa fa-instagram fa-3x social-gp" id="social"></i></a>
          <br>
          <a href="https://www.linkedin.com/company-beta/6407927/"><i class="fa fa-linkedin-square fa-3x social-gp" id="social"></i></a>
          <a href="mailto:info@rentaref.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>&copy; 2017 - Powered by <a href="www.hasmandesign.com"> Hasman Design L.L.C &reg;</a></p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        
        <li><a routerLink="/about" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-book"></i><span style="color: #ffffff"> About Us</span>
        </a></li>
        
        <li><a routerLink="/faq" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-question-circle-o"></i><span style="color: #ffffff"> Faq's</span>
        </a></li>
        <li><a routerLink="/contact" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-envelope-o"></i><span style="color: #ffffff"> Contact Us</span>
        </a></li>
        
      </ul>
    </div>
  </div>
</div>