<div class="row">
  <div class="col-12">

    <div class="card" *ngIf="isViewState('editEvent');" style="height: 100%; min-height: 25em">
      <app-toast [message]="toast.message"></app-toast>

      <div class="card event-form">
        <events-form (ngSubmit)="submitMeeting($event)" (ngCancel)="setMeetingMode($event)"
         [model]="model"
         [states]="states"
         [sports]="sports"></events-form>
      </div>

    </div>

    <div class="card" [class.horizontal-and-vertical-centering]="isViewState('noEvents')" *ngIf="isViewState('listEvents') || isViewState('noEvents') " style="height: 100%; min-height: 25em">

      <rar-search-box 
      [placeholder]="placeholder"
      (searchEvent)='updateSearchTextFilter($event)'
      ></rar-search-box>

      <div class="form-size" *ngIf="isViewState('noEvents') ">
        <strong class="etched-text">You have no <i>Events</i>.</strong>
        <p>You need to create at least one event. Once the event you can create and assign <i>games</i> to the event.
          <br />Although creating games is optional, it allows more fine grained control of each event. Note a game can have the same address or a different address from avenue.</p>
        <button class="btn btn-primary btn-sm" (click)="createNewMeeting()" title="Click to create new event">New Event</button>
      </div>

      <div class="form-size" *ngIf="isViewState('listEvents')">

        <ngx-datatable class="bootstrap"
          [rows]="meetings"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [externalSorting]="true"
          [loadingIndicator]="isLoading"
          (sort)="onSortTableColumn($event)"
          [externalPaging]="true"
          [count]="page.total_elements"
          [offset]="page.offset"
          [limit]="page.limit"
          (page)='setPage($event)'
          >
          <ngx-datatable-column name="Event Name" prop="event_name" editable="false"></ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="id" editable="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ formatStartDate(value) }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Venue" prop="venue_name" editable="false"></ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status" editable="false"></ngx-datatable-column>

          <ngx-datatable-column name="" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-success btn-sm" (click)="goPayForMeeting(value)" title="Click to pay for this event" [disabled]="hasPaid(value)">Pay</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-success btn-sm" (click)="goAddMatches(value)" title="Click to add matches to this event.">Matches</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-primary btn-sm" (click)="editMeeting(value)" title="Click to edit this event"  [disabled]="hasPaid(value)">Edit</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-danger btn-sm" (click)="deleteMeeting(value)" title="Click to delete event">Delete</button>
            </ng-template>
          </ngx-datatable-column>                 
        </ngx-datatable>

        <hr />
        <button class="btn btn-primary btn-sm new-org-button" (click)="createNewMeeting()" title="Click to create new event">New Event</button>
      </div>
    </div>

    <div class="card" *ngIf="isViewState('payingForEvent')" style="height: 100%; min-height: 25em">

      <mat-card>
        <header>
          <h1>Payment</h1>
        </header>
        <br />
        <div class="row">
          
          <div class="col-md-6">
            <meeting-order-table [model]="model"></meeting-order-table>
          </div>

          <div class="col-md-6">
             <rar-stripe  [amount]="model.total"
                          [lineItems]="meetingsComponentService.lineItems"
                          [reference_id]="event_id"
                          [user_id]="user.id"
                          (paymentState)="paymentState($event)"></rar-stripe>
          </div>

        </div>
      </mat-card>

    </div>

    <div class="card"  *ngIf="isViewState('addMatches')">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" (click)="switchToEditMeeting($event)">Event</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#" (click)="switchToAddMatch($event)">Matches</a></li>
        </ol>
      </nav>
      <br />
      <rar-matches [model]="currentMeeting" [states]="states"></rar-matches>
    </div>

  </div>
</div>