<div class="col-xs-12 col-sm-12">
  <!--<div class="card col-sm-12">-->
  <!--<div class="card" *ngIf="!isLoading">-->
  <div class="card">

    <h4 class="card-header elegantshd bigFont">{{message}}</h4>

    <!--<app-loading [condition]="isLoading"></app-loading>-->

    <app-toast [message]="toast.message"></app-toast>

    <div class="card-block" *ngIf="divPasswordFlag">
      <div class="card-block">
        <div class="card card-outline-success">
          <div class="card-block numberbg">

            <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()" *ngIf="showDivreset else showDivresetmsg">
              <p>Please fill in the fields below to change your password.</p>
              <div class="input-group" [ngClass]="{ 'has-danger': passwordForm.get('password1').touched && passwordForm.get('password1').invalid }">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input class="form-control" type="password" name="password1" formControlName="password1" placeholder="New password">
              </div>
              <div class="input-group" [ngClass]="{ 'has-danger': passwordForm.get('password2').touched && passwordForm.get('password2').invalid }">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input class="form-control" type="password" name="password2" formControlName="password2" placeholder="Repeat new password">
              </div>
              <br>
              <div>
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="passwordForm.invalid"><i class="fa fa-save"></i>Save</button>
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onCancel()"><i class="fa fa-ban"></i>Cancel</button>
              </div>

              <p>If you are still having some issues changing your password, please,<span class="profile-text">contact us</span> and someone will get in touch with you.</p>

            </form>

            <ng-template #showDivresetmsg>
              <blockquote>
                <p>Your password was successfully changed.</p>
              </blockquote>
            </ng-template>

          </div>
        </div>
      </div>
    </div>

    <!--Bio info-->
    <div class="card-block" *ngIf="divBioFlag">
      <div class="card-block">
        <div class="card card-outline-info">
          <div class="card-block numberbg">
            <form [formGroup]="bioForm" (ngSubmit)="onBioSubmit()" *ngIf="showDivbio else showDivbiomsg" novalidate>
              <p>Please fill in the fields below to update your information.</p>
              <div class="input-group" [ngClass]="setClassFirstname()">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control" name="firstname" formControlName="firstname" placeholder="Firstname" [(ngModel)]="person.firstname" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                <input class="form-control" name="middlenames" formControlName="middlenames" placeholder="Middlename" [(ngModel)]="person.middlenames">
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                <input class="form-control" name="lastname" formControlName="lastname" placeholder="Lastname" [(ngModel)]="person.lastname">
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>
                <select class="form-control" name="gender" formControlName="gender" [(ngModel)]='selectedValue'>
                  <option value="" selected disabled>Gender</option>
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa  fa-birthday-cake"></i></span>
                <my-date-picker name="dob" [options]="myDatePickerOptions" [(ngModel)]="dateModel" (dateChanged)="onDateChanged($event)" formControlName="dob" placeholder="Date of birth"></my-date-picker>
              </div>
              <br>
              <div>
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="bioForm.invalid"> <i class="fa fa-save"></i> Save</button>
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onCancel()"><i class="fa fa-ban"></i>Cancel</button>
              </div>
            </form>

            <ng-template #showDivbiomsg>
              <blockquote>
                <p>Your information was successfully updated.</p>
              </blockquote>
            </ng-template>

          </div>
        </div>
      </div>
    </div>

    <!--Phones-->
    <div class="card-block" *ngIf="divPhoneFlag">
        <div class="card card-outline-warning">

            <form [formGroup]="phoneForm" (ngSubmit)="onPhoneSubmit()" *ngIf="showDivPhone else showDivPhonemsg">
              <p>Update your phone. </p>
              <div class="input-group" [ngClass]="{ 'has-danger': phoneForm.get('number').touched && phoneForm.get('number').invalid }">

                <label class="center-block">Phone:
                  <select class="form-control" formControlName="description">
                    <option value="" selected disabled>Type</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                    <option value="Other">Other</option>
                  </select>

                  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input class="form-control" formControlName="number">
                </label>

              </div>

              <br>
              <div>
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="phoneForm.invalid"> <i class="fa fa-save"></i>Save</button>
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onCancel()"><i class="fa fa-ban"></i>Cancel</button>
              </div>
            </form>

            <ng-template #showDivPhonemsg>
              <blockquote>
                <p>Your phone number was successfully updated.</p>
              </blockquote>
            </ng-template>

      </div>
    </div>

    <!--Address-->
    <div class="card-block" *ngIf="divAddressFlag">
      <div class="card-block">
          <address-form [address]="address" [states]="states" (saveAddress)="onAddressSubmit($event)"></address-form>
      </div>
    </div>

    <!--Available venue-->
    <div class="card-block" *ngIf="divZoneFlag">
      <div class="card-block">
        <div class="card card-outline-success">
          <div class="card-block numberbg">

            <form [formGroup]="zoneForm" (ngSubmit)="onZoneSubmit()" *ngIf="showDivZone else showDivZonemsg">
              <p>Please update your availability zone. </p>
              <div class="profile-div">

                <div class="form-group" [ngClass]="{ 'has-danger': zoneForm.get('city').touched && zoneForm.get('city').invalid }">
                  <label class="center-block">City:
                    <input class="form-control" formControlName="city">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">State:
                    <select class="form-control" formControlName="state">
                      <option *ngFor="let state of states" value="{{state.abbreviation}}">{{state.name}}</option>
                    </select>
                  </label>
                </div>
                <div class="form-group" [ngClass]="{ 'has-danger': zoneForm.get('zip').touched && zoneForm.get('zip').invalid }">
                  <label class="center-block">Zip Code:
                    <input class="form-control" formControlName="zip">
                  </label>
                </div>

                <div class="form-group" [ngClass]="{ 'has-danger': zoneForm.get('radius').touched && zoneForm.get('radius').invalid }">
                  <label class="center-block">Travel Radius:
                    <input class="form-control" formControlName="radius">
                  </label>
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="zoneForm.invalid"> <i class="fa fa-save"></i>Save</button>
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onCancel()"><i class="fa fa-ban"></i>Cancel</button>
              </div>
            </form>

            <ng-template #showDivZonemsg>
              <blockquote>
                <p>Availability zone was successfully updated.</p>
              </blockquote>
            </ng-template>

          </div>
        </div>
      </div>
    </div>

    <!--Payment-->
    <div class="card-block" *ngIf="divPaymentFlag">
      <div class="card-block">
        <div class="card card-outline-success">
          <div class="card-block numberbg">

            <form [formGroup]="passwordForm" (ngSubmit)="onPaymentSubmit()" *ngIf="showDivPayment else showDivPaymentmsg">
              <p>Please update your payment preference. </p>
              <div class="profile-div">
                <div class="form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" [value]="paypalFlag" [(ngModel)]="paypalFlag" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Paypal </span>
                    <input class="form-control" formControlName="paypalinfo">
                  </label>
                </div>

                <div class="form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" [value]="checkFlag" [(ngModel)]="checkFlag" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Check </span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" [value]="ccFlag" [(ngModel)]="ccFlag" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Credit Card </span>
                    <input class="form-control" formControlName="ccinfo">
                  </label>
                </div>

              </div>

              <div>
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="passwordForm.invalid">
                  <i class="fa fa-save"></i>Save
                </button>
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onCancel()">
              <i class="fa fa-ban"></i>Cancel
              </button>
              </div>
            </form>


            <ng-template #showDivPaymentmsg>
              <blockquote>
                <p>Your payment preference was successfully updated.</p>
              </blockquote>
            </ng-template>

          </div>
        </div>
      </div>
    </div>

    <!--End-->
  </div>
</div>
