form.checkout {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;

  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: coral;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}

.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  //padding: 8px 12px;
  border-radius: 4px;
  //border: 1px solid transparent;
  // box-shadow: 0 1px 3px 0 #e6ebf1;
  // -webkit-transition: box-shadow 150ms ease;
  // transition: box-shadow 150ms ease;
  border-bottom: 1px solid #ededed;
}
/*
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
*/
.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-info {
  min-width: 100%;
}
label {
  width: 100%;
}

.order-item {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 3px 0;
}

.payment {
  //background-color: #9169d8;
  background-color: #fdfdfd;
  width: 100%;
  margin-bottom: 10px;
  max-width: 600px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.payment fieldset {
  border: 1px solid #b5a4ed;
  padding: 15px;
  border-radius: 6px;
}

.payment fieldset legend {
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: #fdfdfd;
}

.payment fieldset legend + * {
  clear: both;
}

.payment .card-only {
  display: block;
}
.payment .payment-request-available {
  display: none;
}

.payment {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 5px 15px 0;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  .payment-back {
    background-color: #fdfdfd;
  }
  .payment-button {
    background-color: #24b47e;
  }
}

.payment input:active {
  background-color: #159570;
}

.payment .error svg {
  margin-top: 0 !important;
}

.payment .error svg .base {
  fill: #e25950;
}

.payment .error svg .glyph {
  fill: #fff;
}

.payment .error .message {
  color: #e25950;
}

.payment .success .icon .border {
  stroke: #abe9d2;
}

.payment .success .icon .checkmark {
  stroke: #24b47e;
}

.payment .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.payment .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.success .reset path {
  fill: #24b47e;
}

.full-width {
  width: 100%;
}
