<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">
 

</script>

<div *ngIf="windowWidth > 599" id="master-wrapper" style="opacity: 0.987679; background: url( 'http://localhost:4200/assets/images/refereebg.jpg') repeat fixed center center transparent"></div>
<div class="container">
<app-header></app-header>
<!--<app-header (featureSelected)="onNavigate($event)"></app-header>-->
  

  <router-outlet></router-outlet>
 
<app-footer *ngIf="windowWidth > 599  else tabletFooter"></app-footer>

<ng-template #tabletFooter>
            <app-footer-tablet></app-footer-tablet>
        </ng-template>


</div>