html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: "Arial", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin-left: 20px;
	margin-right: 20px;
	max-width: 95%;
	padding-left: 20px;
	padding-right: 20px;
}

.wrapper {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
	background: white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}

.navigatorwidget {
	float: left;
	height: auto;
	list-style-type: none;
	margin-bottom: 5px;
	position: relative;
	width: 218px;

	ul.news-navigator li a:link, ul.news-navigator li a:visited {
		background: none;
	}

	ul.post-navigator li a:link, ul.post-navigator li a:visited {
		background: none;
	}

	li ul li a, li a:visited ul li a, li li a:link, li li a:visited {
		border-bottom: 0;
		color: black;
		font-weight: normal;
		padding: 3px 12px;
		text-decoration: underline;
	}

	li ul li a:hover, li a:visited ul li a:hover {
		color: #faa21b;
		text-decoration: underline;
	}

	li {
		color: black;
		list-style-type: none;
		text-transform: uppercase;
		font-size: 0.75rem;
		a {
			display: block;
			padding: 3px;
			text-decoration: none;
		}

		a:link, a:visited, a.open {
			padding: 5px 20px;
		}

		ul {
			display: none;
			overflow: hidden;
			padding: 0 0 10px 20px;
			li {
				font-size: 12px;
				text-transform: none;
			}
		}
	}
}


* html .navigatorwidget {
	height: 30em;
	a, li {
		height: 1%;
	}
}

.productnavigator.navigatorwidget {
	ul {
		overflow: hidden;
		padding: 0 0 10px 20px;
	}

	li {
		text-transform: none;
		a:link, a:visited {
			border-bottom: 0 none;
			color: black;
			font-weight: normal;
			padding: 3px 12px;
			text-decoration: underline;
		}

		a.selected {
			color: #F3980D;
		}

		a:hover {
			color: #faa21b;
		}
	}
}

.ui-tabs {
	margin-bottom: 15px;
	padding: 0;
	zoom: 1;

	.ui-tabs-nav {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fccc83),
			to(#faa21b) );
		background: #faa21b;
		background: -moz-linear-gradient(#fccc83, #faa21b);
		border: 0;
		float: left;
		height: 39px;
		list-style: none;
		margin: 0;
		padding: 1px 10px 0;
		position: relative;
		width: 710px;

		li {
			border-bottom-width: 0 !important;
			float: left;
			font-size: 14px;
			font-weight: bold;
			margin-right: 15px;
			padding: 0;
			position: relative;

			a {
				color: black;
				float: left;
				height: 39px;
				line-height: 39px;
				outline: none;
				padding: 0 15px;
				text-decoration: none;
				text-decoration: none;
			}
		}

		li.ui-tabs-selected {
			border: 1px solid #faa21b;
			border-bottom: 0;
		}

		li.ui-tabs-selected a, li.ui-state-disabled a, li.ui-state-processing a {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background: white;
			cursor: text;
			height: 38px;
			line-height: 37px;
		}
	}
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	background: none;
	border-width: 0;
	display: block;
	margin-bottom: 15px;
	.tab-content {
		border: 1px solid #bbb;
		border-top: 0;
		clear: both;
		float: left;
		margin-bottom: 15px;
		padding: 10px;
		width: 708px;
	}
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.tab-content{
	.details {
		float: left;
		padding-top: 10px;
		width: 100%;
		p span {
			font-style: italic;
		}
	}

	.detailstop {
		*display: inline;
		*zoom: 1;
		display: inline-block;
		float: left;
		padding-top: 10px;
		width: 300px;
	}

	.image {
		*display: inline;
		*zoom: 1;
		display: inline-block;
		float: left;
		width: 375px;
		img {
			border: 1px solid #bbb;
		}
	}
}

.tab-content table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
	width: 100%;

	th {
		color: black;
		font-weight: normal;
		padding: 8px;
		text-align: left;
		text-transform: uppercase;
	}
	td {
		padding: 8px;
		text-align: left;
		em.available {
			color: #7db730;
		}
	}

	tr:nth-child(odd) td {
		background: #f1f1f1;
	}
}

#deck {
	clear: both;
	width: 100%;
	z-index: -1;

	.three-column-first, .three-column-second, .three-column-third  {
		*display: inline;
		*zoom: 1;
		display: inline-block;
		padding: 20px 20px 10px;
		vertical-align: top;
	}
	.three-column-first, #deck .three-column-second {
		height: 180px;
		width: 278px;
	}
	.three-column-third {
		width: 285px;
	}
}

#deck .wrapper {
	background: #4d4d4d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575757),	to(#3a3a3a) );
	background: -moz-linear-gradient(#575757, #3a3a3a);
	border-bottom: 3px solid #111;
	clear: both;
}

#deck h4 {
	background: none;
	color: #999999;
	font: 12px/14px "Arial",Helvetica,sans-serif;
	margin-bottom: 15px;
	padding: 0;
	text-transform: uppercase;
}

#deck p {
	color: white;
	font-size: 11px;
	span {
		display: block;
	}
}

#deck a {
	color: white;
	&.arrow {
		display: block;
	}
	&:hover {
		color: #faa21b;
	}
}

#deck .column {
	float: left;
	width: 50%;
}

#deck ul {
	float: left;
	list-style-type: none;
	margin-bottom: 15px;
	width: 100%;
	li {
		float: left;
		font-size: 11px;
		margin-bottom: 6px;
		width: 100%;
		a {
			color: white;
			padding-left: 12px;
		}
	}
}

.clearfix {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 100%;
}

#footer {
	clear: both;
	float: left;
	height: 200px;
	width: 100%;

	.wrapper {
		box-shadow: none;
		background: transparent;
		box-shadow: none;
		padding: 25px 0;
	}

	p {
		font-size: 11px;
		img {
			margin: 0 25px;
		}
	}
}

#facebox {
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
	z-index: 100;

	.popup {
		position: relative;
	}

	.content {
		background: #eee;
		display: table;
		padding: 15px;
		width: 500px;
		.featured {
			padding: 0 0 0 12px;
		}
		.postitem {
			padding: 10px;
		}
		.postitemcell {
			padding: 0 0 0 10px;
		}
	}

	input.btn {
		margin-bottom: 15px;
	}

	.close {
		position: absolute;
		right: -8px;
		top: -8px;
	}

	.loading {
		text-align: center;
	}

	.image {
		text-align: center;
	}

	img {
		border: 0;
		margin: 0;
	}

	.gallery {
		background: white;
		width: 400px;
		.content {
			background: white;
		}
	}

	.contain {
		padding: 15px;
	}
}

#facebox form {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 33px;

	div {
		clear: both;
		padding: 10px 0;
	}

	label {
		float: left;
		padding-top: 9px;
		width: 200px;
	}

	input, select, textarea, .capcha {
		background: white;
		border: 1px solid #ccc;
		color: #111;
		float: left;
		font: normal 12px/13px "Arial", Helvetica, sans-serif;
		margin: 0;
		padding: 8px;
		width: 250px;
	}

	.capcha {
		width: 160px;
	}

	input.date {
		width: 200px;
	}

	div.dates {
		float: none;
		input {
			width: 85px;
		}
	}

	div.checkbox, div.radio {
		padding: 10px 0;
	}

	div.checkbox input, div.radio input {
		border: 0;
		margin-right: 5px;
		padding: 0;
		width: auto;
	}
}

#facebox_overlay {
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
}
.facebox_hide {
	z-index: -100;
}
.facebox_overlayBG {
	background: black;
	z-index: 99;
}

.error {
	color: #ff0000;
	font-size: 8pt;
	margin-bottom: 5px;
	padding: 1px;
}
#ProductHeader {
	clear: both;
	display: block;
}
#productHeaderImages {
	float: left;
	width: 735px;
}
#productHeaderInfo {
	background: #1f1f1f;
	display: block;
	float: left;
	height: 484px;
	position: relative;
	width: 265px;
	.content {
		padding: 10px;
		padding-top: 15px;
	}
	h1 {
		color: white;
		font-family: arial;
		font-size: 20px;
		forn-weight: bold;
		line-height: 1;
		margin-bottom: 5px;
		overflow: hidden;
		width: 243px;
	}
	h4 {
		background: transparent;
		color: #5c5c5c;
		font: 12px/16px "Arial",Helvetica,sans-serif;
		margin: 0px;
		padding: 0px;
		padding-left: 5px;
	}
	a {
		color: #5c5c5c;
		font: 11px/16px "Arial",Helvetica,sans-serif;
		text-decoration: underline;
		&:hover {
			color: #fAA21B;
		}
	}
}

.productHeaderDisplay {
	color: #5c5c5c;
	font-size: 12px;
}

dl.margins {
	font-weight: bold;
	overflow: hidden;
	width: 250px;
}
.margins dt {
	clear: left;
	color: #5c5c5c;
	float: left;
	font-size: 12px;
	padding: 2px 5px 2px 0;
}
.margins dd {
	clear: right;
	color: #ffffff;
	float: left;
	font-size: 12px;
	padding: 2px 0;
	padding-left: 5px;
}
dl.largmargins {
	font-weight: bold;
	margin-bottom: 2px;
	overflow: hidden;
	padding: 5px 0 8px 0;
	width: 250px;
}
.largmargins dt {
	clear: left;
	color: #5c5c5c;
	float: left;
	font-size: 12px;
	padding: 2px 5px 2px 0;
}
.largmargins dd {
	clear: right;
	color: #ffffff;
	float: left;
	font-size: 12px;
	padding: 2px 0;
	padding-left: 5px;
}
dl.smallmargins {
	font-weight: bold;
	overflow: hidden;
	width: 250px;
}
.smallmargins dt {
	clear: left;
	color: #5c5c5c;
	float: left;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 2px 1px 0;
}
.smallmargins dd {
	clear: right;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 0px 1px 0;
	padding-left: 5px;
}
dl.nomargins {
	font-weight: bold;
	padding: 0 6px 0 0;
	width: 250px;
}
dl.nomargins.toppadding {
	padding: 10px 6px 0 0;
}
.nomargins dt {
	clear: left;
	color: #5c5c5c;
	float: left;
	font-size: 11px;
	font-weight: bold;
	padding: 0 6px 0 0;
}
.nomargins dd {
	clear: right;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
	padding-left: 5px;
}
.newsbox {
	*display: inline;
	*zoom: 1;
	border: 1px solid #BBBBBB;
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px;
	width: 956px;

	a, .two-column-box a, .three-column-box a {
		color: black;
		font: 11px/16px "Arial",Helvetica,sans-serif;
		text-decoration: underline;
	}

	a:hover, .two-column-box a:hover {
		color: #F3980D;
	}
}

.enquireBtn, #productHeaderInfo a#enquireBtn, #facebox a#enquireBtn, #content a#enquireBtn, div#enquireBtn a.enquire-link {
	border-radius: 7px;
	background: #faa21b;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fccc83), to(#faa21b) );
	background: -moz-linear-gradient(#fccc83, #faa21b);
	border: 0;
	bottom: 8px;
	color: black;
	cursor: pointer;
	font-size: 16px;
	outline: none;
	padding: 10px 25px;
	position: absolute;
	right: 10px;
	text-decoration: none;
	width: auto;
}
.enquireBtn, #content a#enquireBtn, div#enquireBtn a.enquire-link {
	float: right;
	position: relative;
}
.enquireBtn, #productHeaderInfo a#enquireBtn:hover, #facebox a#enquireBtn:hover, #content a#enquireBtn:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#faa21b), to(#fccc83) );
	background: -moz-linear-gradient(#faa21b, #fccc83);
}
.newsbox .img {
	padding-right: 15px;
}
.clearpadding {
	margin-left: -5px;
}
.hidden {
	display: none;
}

.two-column-box h6 a {
	color: #f3980d;
	font: bold 12px/16px "Arial", Helvetica, sans-serif;
	text-decoration: none;
	&:hover {
		color: #f3980d;
		text-decoration: underline;
	}
}

.tooltip {
	background: url('/assets/images/rar.png');
	color: #fff;
	display: none;
	font-size: 11px;
	height: 163px;
	padding: 40px 30px 10px 30px;
	width: 310px;
	.label {
		color: yellow;
		width: 35px;
	}
	a {
		color: #ad4;
		font-size: 11px;
		font-weight: bold;
	}
}

#footer-left-container-left {
	float: left;
	width: 78px;
}
#footer-left-container-right {
	float: left;
	font-size: 9px;
	width: 900px;
}
#menu-footer-left {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		border-right: 1px solid #5c5c5c;
		display: block;
		float: left;
		padding: 0px 6px 0px 6px;
		&.lastitem {
			border-right: 0px;
		}
		a {
			color: black;
			font-size: 11px;
			line-height: 16px;
			text-decoration: underline;
		}
	}
}

.navcontent {
	background: #1f1f1f;
	display: none;
	position: absolute;
	z-index: 5;
}
#header1Image {
	position: relative;
	z-index: 1;
}
#navcontentContainer {
	position: absolute;
	width: 1000px;
	z-index: 10;
}
#navcontentContainer h1 em {
	color: #999999;
}
#navcontentContainer h1 a {
	color: #fff;
}
#navcontent1 {
	height: 481px;
	width: 1000px;
}
#navcontent2 {
	height: 481px;
	position: absolute;
	right: 0px;
	width: 350px;
}
.navcontentbox1 {
	border-right: 1px solid #4c4c4c;
	float: left;
	height: 450px;
	padding: 15px;
	width: 190px;
}
.navcontentbox2 {
	border-right: 1px solid #4c4c4c;
	display: none;
	float: left;
	height: 450px;
	padding: 15px;
	width: 140px;
}
.navcontentbox3 {
	border-right: 1px solid #4c4c4c;
	display: none;
	float: left;
	height: 450px;
	padding: 15px;
	width: 295px;
}
.navcontentbox4 {
	display: none;
	float: left;
	height: 450px;
	padding: 22px;
	width: 225px;
}
.navcontentbox5 {
	display: block;
	float: left;
	height: 450px;
	padding: 15px;
	width: 225px;
}
.tours-year li, .tours-duration li, .tours-country li {
	color: black;
	font-size: 12px;
	list-style-type: none;
	padding-left: 10px;
	padding-top: 10px;
}
.tours-year li a, .tours-year li a:visited, .tours-duration li a, .tours-country li a:visited, .tours-country li a, .tours-country li a:visited {
	border-bottom: 0 none;
	color: #ffffff;
	font-weight: normal;
	padding: 3px 12px;
	text-decoration: underline;
}
.tours-year li a:hover, .tours-duration li a:hover, .tours-country li a:hover {
	color: #FAA21b;
	text-decoration: underline;
}
.navcontentbox2 ul li {
	color: black;
	font-size: 12px;
	list-style-type: none;
	padding-left: 10px;
	padding-top: 10px;
}
.navcontentbox2 ul li a {
	border-bottom: 0 none;
	color: #ffffff;
	font-weight: normal;
	padding: 3px 12px;
	text-decoration: underline;
}
.durationwidget ul li a {
	border-bottom: 0 none;
	font-weight: normal;
	padding: 3px 12px;
	text-decoration: underline;
}
.navcontentbox2 ul li a:hover {
	color: #FAA21b;
}
#duration-navigator ul li a {
	border-bottom: 0 none;
	font-weight: normal;
	padding: 3px 12px;
	text-decoration: underline;
}
.tours-list li, #menu-charter-tours li {
	color: black;
	font-size: 12px;
	list-style-type: none;
	padding-top: 5px;
}
.tours-list li a, .tours-list li a:visited, #menu-charter-tours li a, #menu-charter-tours li a:visited {
	border-bottom: 0 none;
	color: #ffffff;
	font-weight: normal;
	padding: 3px 12px;
	text-decoration: underline;
}
.tours-list li a:hover, #menu-charter-tours li a:hover {
	color: #FAA21b;
	text-decoration: underline;
}
p.wprice {
	color: white;
	font-size: 11px;
	font-style: normal;
	margin-bottom: 0;
}
p.wmore {
	color: white;
	font-size: 11px;
	font-style: normal;
	margin: 0;
}
.wdetails {
	color: white;
	height: 255px;
	overflow: hidden;
}
.wdetails a {
	color: #F3980D;
	text-decoration: underline;
}
p.wactivity {
	color: white;
	font-size: 11px;
	font-style: normal;
}

#content ul.breadcrumb {
	clear: both;
	color: #5c5c5c;
	font-size: 12px;
	list-style: none;
	padding-bottom: 5px;
	li {
		display: inline;
		a {
			color: #000;
			text-decoration: underline;
			&:hover {
				color: #F3980D;
			}
			&.selected {
				color: #F3980D;
			}
		}
	}
}

.jcarousel {
	height: 157px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 244px;
	overflow: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 310px;
	position: relative;
	width: 100%;
}
.jcarousel ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 20000em;
}
.jcarousel li {
	float: left;
}
ul.jcarousel-control {
	margin-left: 800px;
	margin-top: 220px;
	padding-top: 200px;
	position: absolute;
	width: 250px;
	z-index: 1;
}
ul.jcarousel-control li {
	*display: inline;
	*zoom: 1;
	background-image: url('/assets/images/rar.png');
	display: inline-block;
	height: 17px;
	width: 17px;
}
#banner a, #banner a:hover {
	color: white;
	text-decoration: none;
}
#banner .banner-content {
	background: #000000;
	height: 65px;
	margin-top: -5px;
}
#banner .banner-content p {
	color: white;
	margin: 0;
	padding-left: 40px;
}
#banner .banner-content p.banner-title {
	font: bold 25px Arial,Helvetica,sans-serif;
	padding-left: 20px;
	padding-top: 10px;
}
#banner .banner-content p.banner-title img {
	padding-bottom: 5px;
	padding-right: 10px;
}
.loadImage {
	display: block;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 193px;
	width: 32px;
}
#product-navigation {
	width: 100%;

	.wrapper {
		height: 6px;
		padding: 0px;
		width: 100%;
	}

	#menu-product-navigation {
		display: table;
		width: 100%;

		#accommodatedtour, #campingtour, #accommodation, #chartertour {
			width: 258px;
		}
	}
}

.browseListings h2 {
	font-weight: bold;
	margin-bottom: 10px;
}
#date-details {
	float: left;
	margin: 10px 0;
}
#facebox-loading {
	text-align: center;
}
#facebox .form-container {
	padding-bottom: 50px;
}
#facebox a#enquireBtn {
	bottom: 20px;
	right: 45px;
}
#twitter {
	margin-top: 5px;
}
#twitter h4 {
	background: none;
}
#content a#request-brochure {
	border: medium none;
	cursor: pointer;
	display: block;
	height: 92px;
	margin: 0 0 10px;
	text-decoration: none;
	width: 240px;
}
.nomadNews .featuredblog h3 {
	color: #5c5c5c;
	font: normal 12px/14px "Arial", Helvetica, sans-serif;
	margin-bottom: 15px;
	text-transform: uppercase;
	em {
		color: #111;
		display: block;
		font: bold 25px/27px "Arial", Helvetica, sans-serif;
		letter-spacing: -0.04em;
		text-transform: none;
	}
}

.sliderContent .navigatorwidget {
	margin-bottom: 15px;
	position: relative;
	width: 190px;
	ul.product-detailed-navigator {
		li {
			color: black;
			font-size: 12px;
			list-style-type: none;
			padding-left: 5px;
			padding-top: 10px;
			a, a:visited, a:link {
				border-bottom: 0 none;
				color: #FFFFFF;
				font-weight: normal;
				padding: 3px 12px;
				text-decoration: underline;
				text-transform: capitalize;
				white-space: nowrap;
			}
		}
	}
}

.imagegallerywidget h3 {
	display: none;
}
.imagegallerywidget div.image {
	background: none repeat scroll 0 0 white;
	float: left;
	margin: 5px 6px 6px 5px;
	overflow: hidden;
	position: relative;
}
.imagegallerywidget img {
	float: left;
	padding: 0;
}
.imagegallerywidget div.image label {
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	background: #faa21b;
	color: black;
	display: block;
	filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = 90)";
	float: left;
	font-size: 11px;
	height: 100px;
	line-height: 14px;
	opacity: 0.9;
	padding: 10px 10px 0;
	position: relative;
	text-transform: uppercase;
	width: 100%;
}
#social-share-links div {
	*display: inline;
	*zoom: 1;
	display: inline-block;
	width: 100px;
}
#page-not-found {
	text-align: center;
}
#page-not-found img {
	padding: 25px 0;
}
#page-not-found h1 {
	padding: 0 0 10px;
}
#page-not-found h1 em {
	letter-spacing: 0.01px;
}
#page-not-found .submit-container {
	float: none;
}
#page-not-found .submit-container a.btn {
	color: #fff;
	text-decoration: none;
}
#page-not-found .form-container {
	*display: inline;
	*zoom: 1;
	display: inline-block;
	float: none;
	padding: 20px 0 0;
}
#page-not-found .form-container .formfield-container {
	float: none;
	height: 40px;
	width: 400px;
}
#page-not-found .form-container .formfield-container label {
	text-align: left;
	width: 100px;
}
#unsubscribe .form-container {
	*display: inline;
	*zoom: 1;
	display: inline-block;
	float: none;
	width: 100%;
}
#unsubscribe .form-container .formfield-container {
	float: none;
}
#unsubscribe .form-container .formfield-container label {
	width: 100px;
}
#unsubscribe .submit-container {
	float: left;
	padding: 0 10px;
}
#unsubscribe .submit-container a.btn {
	color: white;
	margin: 0;
	text-decoration: none;
}
.newsletter.box {
	border: none;
	height: 220px;
	width: 220px !important;
}
.newsletter.box input {
	border: 1px solid #FAA21B;
}
#profiles {
	clear: both;
	color: black;
	height: 100%;
	margin: 0 0px 0 0px;
	padding: 0;
	text-decoration: none;
	width: 100% !important;
}
.profiles.box {
	background: #E5E5FF;
	border: none;
	clear: both;
	float: right;
	height: 100%;
	margin: 0 0px 0 5px;
	padding-top: 9px;
	width: 100% !important;
}
#menuFull {
	clear: both;
	margin: 0px;
	padding: 0px 0px 30px;
	width: 100%;
}
#subscribecontainer img.newsletter-icon {
	display: inline-block;
}
#subscribecontainer h3 {
	color: white;
	display: inline-block;
	width: 75%;
}
#browse-button {
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;
	width: 130px;
}
#subscribe-button {
	display: inline-block;
	height: 34px;
	margin-left: 5px;
	margin-top: 5px;
	width: 76px;
}
#subscribecontainer a:hover, #subscribecontainer a:active {
	color: #fff;
}

#frmsubscribe input.error {
	outline: 2px solid #FF0000;
}
#frmsubscribe label.error {
	display: none !important;
}

#slider-wrapper div.jqans-wrapper.default {
	background: none repeat scroll 0 0 white !important;
	background: white !important;
	border-left: 1px solid #DBE1E6;
	border-right: 1px solid #DBE1E6;
	border-top: 1px solid #DBE1E6;
	color: inherit;
	a {
		color: #363636 !important;
	}
	img {
		margin: 0;
		max-width: 100%;
		padding: 0;
	}
	.jqans-content h1 {
		font-size: 138% !important;
		a, a:hover, a:active, a:visited {
			background: none repeat scroll 0 0 transparent;
			border: medium none;
			color: #16387C !important;
			text-decoration: none;
		}
	}
}
#slider-wrapper div.jqans-wrapper.default .jqans-headline strong {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

#slider-wrapper div.jqans-wrapper.default .jqans-content p {
	color: #333333 !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories {
	border-bottom-color: #DBE1E6;

	li {
		background-color: #FCFCFD;
		background-image: -moz-linear-gradient(center top , #E8EDF0, #FCFCFD);
		border-top-color: #A8B4BF;
		&.selected {
			background-color: #59728B;
			background-image: -moz-linear-gradient(center top , #59728B, #2D4458);
			border-top-color: #59728B;
			img {
				border: 1px solid #000000;
			}
			h3 {
				color: #FFFFFF !important;
				font-size: 12px !important;
			}
			div {
				border-bottom: 10px solid #59728B;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}
		}

		img {
			background-color: #FFFFFF;
			border: 1px solid #C5CED7;
			margin: 8px 0 0;
			padding: 0;
		}

		h3 {
			background: none repeat scroll 0 0 transparent !important;
			color: #59728B !important;
			font-size: 12px !important;
			font-weight: normal;
			line-height: 14px !important;
			margin: 0;
			padding: 0;
			text-shadow: none;
			text-transform: none;
		}
	}
}

#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector ul, #slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li {
	background: none repeat scroll 0 0 transparent !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination {
	background-color: #F9FAFA;
	border-bottom-color: #DBE1E6;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a {
	border-right-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a {
	border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a span {
	border-right-color: #F9FAFA;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a span {
	border-left-color: #F9FAFA;
}
#slider-wrapper div.jqans-wrapper.default #control-play {
	border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default #pause-left, #slider-wrapper div.jqans-wrapper.default #pause-right {
	background: none repeat scroll 0 0 #59728B;
}
#slider-wrapper div.jqans-wrapper.default a {
	color: #363636 !important;
}

#slider-wrapper div.jqans-wrapper.default .jqans-headline strong {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
#slider-wrapper div.jqans-wrapper.default img {
	margin: 0;
	max-width: 100%;
	padding: 0;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 {
	font-size: 138% !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 a, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:hover, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:active, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:visited {
	background: transparent;
	border: none;
	color: #16387C !important;
	text-decoration: none;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content p {
	color: #333 !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories {
	border-bottom-color: #DBE1E6;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li {
	background-color: #FCFCFD;
	background-image: -moz-linear-gradient(center top , #E8EDF0, #FCFCFD);
	border-top-color: #A8B4BF;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected {
	background-color: #59728B;
	background-image: -moz-linear-gradient(center top , #59728B, #2D4458);
	border-top-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li img {
	background-color: #fff;
	border: 1px solid #C5CED7;
	margin: 8px 0 0 0;
	padding: 0;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected img {
	border: 1px solid #000;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li h3 {
	background: transparent !important;
	background-color: transparent !important;
	background-image: none !important;
	color: #59728B !important;
	font-size: 12px !important;
	font-weight: normal;
	line-height: 14px !important;
	margin: 0;
	padding: 0;
	text-shadow: none;
	text-transform: none;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected h3 {
	color: #FFF !important;
	font-size: 12px !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li.selected div {
	border-bottom: 10px solid #59728B;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector ul, #slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li {
	background: transparent !important;
	background-color: transparent !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination {
	background-color: #F9FAFA;
	border-bottom-color: #DBE1E6;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a {
	border-right-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a {
	border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a span {
	border-right-color: #F9FAFA;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a span {
	border-left-color: #F9FAFA;
}
#slider-wrapper div.jqans-wrapper.default #control-play {
	border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default #pause-left, #slider-wrapper div.jqans-wrapper.default #pause-right {
	background: #59728B;
}
#master-wrapper {
	background: url("/assets/images/refereebg1.jpg") repeat fixed center center #000000;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -1;
}
.nfMain {
	border-bottom-colors: none;
	border-left-colors: none;
	border-right-colors: none;
	border-top-colors: none;
	border-color: #00AD00;
	border-image: none;
	border-style: solid;
	border-width: 0 0 0 2px;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	width: 980px;
}

.nfMain .nfLink {
	border-color: #00AD00;
	border-style: solid;
	border-width: 0 2px 2px 0;
	color: #000000;
	font-family: Arial;
	font-size: 0.9em;
	padding: 9px 30px 5px;
	text-decoration: none;
}
.nfPure .nfItem:hover > .nfLink, .nfPure .nfItem:hover > * > .nfLink {
	text-decoration: underline;
}
.nfPure .nfLink:hover, .nfMain .nfJSHover {
	color: #FFFFFF;
	text-decoration: underline;
}
.nfMain, .nfSubC, .nfSubS {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.nfMain {
	position: relative;
	z-index: 1;
}
.nfMain .nfSubC {
	position: absolute;
	visibility: hidden;
}
.nfMain .nfItem, .nfMain .nfLink {
	display: block;
	list-style: none;
	margin: 0px;
	position: relative;
	white-space: nowrap;
}
.nfMain:after {
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	overflow: hidden;
}
.nfPure .nfItem:hover, .nfPure .nfItem:hover>.nfSubC {
	visibility: inherit;
	z-index: 1101;
}
.nfPure .nfLink:focus {
	z-index: 1102;
}
.nfMain .nfJSActiveItem {
	z-index: 1101;
}
.nfMain .nfJSShowSub {
	visibility: inherit;
	z-index: 1101;
}
.nfMain .nfItem div.nfLink {
	cursor: default;
}
.nfMain .nfItem {
	float: left;
}
.nfMain .nfItem .nfItem {
	float: none;
}
.nfMain .nfItem .nfSubC {
	left: 0px;
	top: 100%;
	width: auto;
}
.nfMain .nfSubC .nfItem .nfSubC {
	left: 100%;
	top: 0px;
	width: auto;
}
.nfMain {
	background-color: #55556a;
	background-image: url('/assets/images/refereebg.jpg');
	padding: 0px 0px 0px 20px;
}
.nfMain .nfLink {
	border-color: #333;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	padding: 6px 40px 6px 20px;
	text-decoration: none;
}
.nfMain .nfParent .nfLink {
	background-position: 92% 52%;
	background-repeat: no-repeat;
}
.nfMain .nfParent .nfSubS .nfLink {
	background-image: none;
}
.nfPure .nfItem:hover>.nfLink, .nfPure .nfItem:hover>*>.nfLink {
	text-decoration: underline;
}
.nfPure .nfLink:hover, .nfMain .nfJSHover {
	text-decoration: underline;
}
.nfMain .nfItem .nfJSActive {
	background-color: #e5ebf7;
	border-bottom-color: #e5ebf7;
	color: #425fa7;
	text-decoration: underline;
}
.nfPure .nfLink:focus, .nfMain .nfItem .nfJSFocus {
	text-decoration: underline;
}
.nfMain .nfItem .nfJSBreadcrumb {
}
.nfMain .nfSubS {
	background-color: #e5ebf7;
	padding: 20px;
}
.nfMain .nfSubS {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #e5ebf7;
	border: solid 1px #333;
	border-width: 0px 1px 1px 1px;
	height: auto;
}
.nfMain .nfSubS .nfSubC {
	margin: -1px 0px 0px 0px;
}
.nfMain .nfSubS .nfSubS {
	border-width: 1px;
}
.nfMain .nfSubS .nfSubS {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.nfMain .nfSubS .nfLink {
	border-color: #999;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #55556a;
	font-size: 13px;
	padding: 6px 40px 6px 5px;
}

.nfMain .nfSubS .nfParent .nfSubS .nfLink {
	background-image: none;
}
.nfMain .nfSubS .nfItem:last-child .nfLink {
	border-width: 0px;
}

.nfMain .nfSubS .nfItem .nfJSActive {
	background-color: #ccd0e3;
	color: #425fa7;
	text-decoration: underline;
}
.nfPure .nfSubS .nfLink:focus, .nfMain .nfSubS .nfItem .nfJSFocus {
	color: #03f;
}

.custTitle {
	color: #55556a;
	font-size: 1em;
	font-weight: bold;
	margin: 20px 0px 5px 0px;
}
.custTitleBoxed {
	border-radius: 4px;
	background-color: #fff;
	border-color: #979cb6;
	border-style: solid;
	border-width: 1px;
	color: #55556a;
	font-size: .9em;
	margin: 20px 0px 5px 0px;
	padding: 8px;
}
.custTitleTop {
	margin: 5px 0px 5px 0px;
}
.custMegaSub {
	width: 760px;
}
.custMegaItem {
	font-size: .9em;
}
.megaContentRight {
	left: 290px;
	position: relative;
	width: 190px;
}
.megaContentMiddle {
	left: 170px;
	position: absolute;
	width: 140px;
}
.megaContentLeft {
	position: absolute;
	width: 240px;
}
.megaContentMiddle ul, .megaContentLeft ul, .megaContentRight ul {
	list-style-type: circle;
	margin: 10px 0px 0px 24px;
	padding: 0px;
}
.megaTopTitle {
	border-radius: 4px;
	background-color: #fff;
	border-color: #979cb6;
	border-style: solid;
	border-width: 1px;
	color: #55556a;
	font-size: 1em;
	margin-bottom: 10px;
	padding: 8px;
	white-space: normal;
	width: 440px;
}
.megaTitle {
	color: #55556a;
	white-space: normal;
}
#content .whitebg {
	background: red;
	clear: both;
}
#master-wrapper {
	background: url( '/assets/images/refereebg.jpg') repeat fixed center center transparent;
	opacity: 0.987679;
}
