



html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	font-family: "Arial", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
  max-width:95%;
  padding-left:20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.wrapper{
      width: 60%;
      margin: 60px auto;
}

.wrapper {
	background: white;
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}

/* ACCORDION */

.navigatorwidget {
	list-style-type: none;
	float: left;
	position: relative;
	width: 218px;
	height: auto;
	margin-bottom: 5px;
}

.navigatorwidget li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
}

.navigatorwidget li {
	font-size: 0.75rem;	
}

.navigatorwidget li a {
	display: block;
	padding: 3px;
	text-decoration: none;
}

.navigatorwidget li a:link,.navigatorwidget li a:visited {
	padding: 5px 20px;
	color: black;
	//background: url('../images/accordion.gif') 0 7px no-repeat;
}

.navigatorwidget li a.open {
	padding: 5px 20px;
	color: black;
	//background: url('../images/accordion.gif') 0 -44px no-repeat;
}

.navigatorwidget ul.news-navigator li a:link,.navigatorwidget ul.news-navigator li a:visited {
	background: none;
}

.navigatorwidget ul.post-navigator li a:link,.navigatorwidget ul.post-navigator li a:visited {
	background: none;
}

.navigatorwidget li a.open {
	padding: 5px 20px;
	color: black;
	//background: url('../images/accordion.gif') 0 -44px no-repeat;
}

.navigatorwidget li ul {
	overflow: hidden;
	display:none;
	padding: 0 0 10px 20px;
}

.navigatorwidget li ul li {
	font-size: 12px;
	text-transform: none;
}

.navigatorwidget li ul li a,.navigatorwidget li a:visited ul li a,.navigatorwidget li li a:link,.navigatorwidget li li a:visited
{
	font-weight: normal;
	border-bottom: 0;
	text-decoration: underline;
	padding: 3px 12px;
	color:black;
}

.navigatorwidget li ul li a:hover,.navigatorwidget li a:visited ul li a:hover
{
	text-decoration: underline;
	color: #faa21b;
}

* html .navigatorwidget {
	height: 30em
}

* html .navigatorwidget a,* html .navigatorwidget li {
	height: 1%
}

.productnavigator.navigatorwidget ul {
    overflow: hidden;
    padding: 0 0 10px 20px;
}

.productnavigator.navigatorwidget li {
	text-transform:none;
}

.productnavigator.navigatorwidget li a:link, .navigatorwidget li a:visited {
    border-bottom: 0 none;
    color: black;
    font-weight: normal;
    padding: 3px 12px;
    text-decoration: underline;
}

.productnavigator.navigatorwidget li a.selected {
	color: #F3980D;
}

.productnavigator.navigatorwidget li a:hover{ color:#faa21b; }



.ui-tabs {
	padding: 0;
	zoom: 1;
	margin-bottom: 15px;
}

.ui-tabs .ui-tabs-nav {
	
}

.ui-tabs .ui-tabs-nav {
	height: 39px;
	width: 710px;
	float: left;
	margin: 0;
	padding: 1px 10px 0;
	list-style: none;
	position: relative;
	-moz-border-radius-topright: 7px;
	-khtml-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-khtml-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border: 0;
	background: #faa21b;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fccc83),
		to(#faa21b) );
	background: -moz-linear-gradient(#fccc83, #faa21b);
}

.ui-tabs .ui-tabs-nav li {
	position: relative;
	float: left;
	border-bottom-width: 0 !important;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	margin-right: 15px;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	height: 39px;
	line-height: 39px;
	text-decoration: none;
	padding: 0 15px;
	color: black;
	text-decoration: none;
	outline: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background: white;
	border: 1px solid #faa21b;
	border-bottom: 0;
	height: 38px;
	line-height: 37px;
	-moz-border-radius-topright: 5px;
	-khtml-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-khtml-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a
	{
	height: 38px;
	line-height: 37px;
	background: white;
	cursor: text;
	-moz-border-radius-topright: 5px;
	-khtml-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-khtml-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
	{
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	background: none;
	margin-bottom: 15px;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.ui-tabs .ui-tabs-panel .tab-content {
	margin-bottom: 15px;
	clear: both;
	border: 1px solid #bbb;
	border-top: 0;
	padding: 10px;
	float: left;
	width: 708px;
}

.tab-content .image img {
	border: 1px solid #bbb;
}

.tab-content .image {
	float: left;
	width: 375px;
	display: inline-block;
	*display:inline ;
	*zoom:1;		
}

.tab-content .details {
	float: left;
	 width: 100%;
	padding-top: 10px;
}

.tab-content .detailstop {
    float: left;
    padding-top: 10px;
    width: 300px;
    display: inline-block;
	*display:inline ;
	*zoom:1;	    
}

.tab-content .details p span {
	font-style: italic;
}

/* tabs tables */
.tab-content table {
	font-size: 12px;
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.tab-content table th {
	text-align: left;
	font-weight: normal;
	color: black;
	text-transform: uppercase;
	padding: 8px;
}

.tab-content table td {
	text-align: left;
	padding: 8px;
}

.tab-content table td em.available {
	color: #7db730;
}

.tab-content table tr:nth-child(odd) td {
	background: #f1f1f1;
}

/* FOOTER */
#deck {
	width: 100%;
	
	clear: both;
	z-index: -1;
}
#deck .wrapper{
clear: both;
border-bottom: 3px solid #111; background: #4d4d4d; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575757),	to(#3a3a3a) ); background: -moz-linear-gradient(#575757, #3a3a3a); }
#deck h4 {
	background: none;
	padding: 0;
    color: #999999;
    font: 12px/14px "Arial",Helvetica,sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#deck .three-column-first,#deck .three-column-second {
	display:inline-block;
	vertical-align:top;
	width: 278px;
	padding: 20px 20px 10px;
	height: 180px;
	*display:inline ;
	*zoom:1;		
}

#deck .three-column-third {
	display:inline-block;	
	vertical-align:top;
	width: 285px;
	padding: 20px 20px 10px;
	*display:inline ;
	*zoom:1;		
}

#deck p {
	color: white;
	font-size: 11px;
}

#deck p span {
	display: block;
}

#deck a {
	color: white;
}

#deck a.arrow {
	display: block;
}

#deck a:hover {
	color: #faa21b;
}

#deck .column {
	float: left;
	width: 50%;
}

#deck ul {
	list-style-type: none;
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

#deck ul li {
	font-size: 11px;
	margin-bottom: 6px;
	float: left;
	width: 100%;
}

#deck ul li a {
	color: white;
	padding-left: 12px;
}

.clearfix {
	clear: both;
	width: 100%;
	height: 0;
	font-size: 0;
	line-height: 0;
}

/* FOOTER-LINKS-LOGOS */
#footer {
	width: 100%;
	clear: both;
	float: left;
	 height: 200px;
}

#footer .wrapper {
	background: transparent;
	padding: 25px 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#footer p {
	font-size: 11px;
}

#footer p img {
	margin: 0 25px;
}

/* FACEBOX POPUP */
#facebox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: left;
}

#facebox .popup {
	position: relative;
}

#facebox .content {
	display: table;
	width: 500px;
	padding: 15px;
	background: #eee;
}

#facebox .close {
	position: absolute;
	top: -8px;
	right: -8px;
}

#facebox .loading {
	text-align: center;
}

#facebox .image {
	text-align: center;
}

#facebox img {
	border: 0;
	margin: 0;
}

#facebox_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.facebox_hide {
	z-index: -100;
}

.facebox_overlayBG {
	background: black;
	z-index: 99;
}

#facebox .gallery {
	width: 400px;
	background: white;
}

#facebox .gallery .content {
	background: white;
}

#facebox .contain {
	padding: 15px;
}

/* FORM STYLES */

#facebox form {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	margin-bottom: 33px;
}

#facebox form div {
	padding: 10px 0;
	clear: both;
}

#facebox form label {
	width: 200px;
	float: left;
	font-weight: bold;
	padding-top: 9px;
	
}

#facebox form input,#facebox form select,#facebox form textarea {
	float: left;
	border: 1px solid #ccc;
	font: normal 12px/13px "Arial", Helvetica, sans-serif;
	background: white;
	margin: 0;
	padding: 8px;
	width: 250px;
	color: #111;
}

#facebox form input.date {
	width: 200px;
}

#facebox form .capcha {
	float: left;
	border: 1px solid #ccc;
	font: normal 12px/13px "Arial", Helvetica, sans-serif;
	background: white;
	margin: 0;
	padding: 8px;
	width: 160px;
	color: #111;
}

#facebox form div.dates {
	float: none;
}

#facebox form div.dates input {
	width: 85px;
}

#facebox form div.checkbox,#facebox form div.radio {
	padding: 10px 0;
}

#facebox form div.checkbox input,#facebox form div.radio input {
	width: auto;
	padding: 0;
	border: 0;
	margin-right: 5px;
}

#facebox input.btn {
	margin-bottom: 15px;
}

#facebox .content .featured{
	padding: 0 0 0 12px;
}

#facebox .content .postitem{
	padding: 10px;
}

#facebox .content .postitemcell{
	padding: 0 0 0 10px;
}


.error{
	font-size:8pt;
	color:#ff0000;
	padding:1px;
	margin-bottom:5px;
}

#ProductHeader{display:block;clear:both;}
#productHeaderImages{width:735px;float:left;}
#productHeaderInfo{background: #1f1f1f;width:265px;height:484px;float:left;display:block;position: relative;}
#productHeaderInfo .content{padding:10px;padding-top:15px;}

#productHeaderInfo h1{font-family:arial;forn-weight:bold;color:#ffffff;font-size:20px; margin-bottom:5px;line-height:1; overflow: hidden; width: 243px;}

.productHeaderDisplay{ 
	color:#5c5c5c;
    font-size:12px;
}

#productHeaderInfo h4{padding-left:5px;padding:0px;margin:0px;font: 12px/16px "Arial",Helvetica,sans-serif;background:transparent;color:#5c5c5c;}


dl.margins {
    font-weight:bold;
    width:250px;
    overflow:hidden;
}

.margins dt {
    color:#5c5c5c;
    float:left;
    font-size:12px;
    padding: 2px 5px 2px 0;
    clear:left;
}

.margins dd{
	 padding-left:5px;
	float:left;
	font-size:12px;
	color:#ffffff;
    padding:2px 0;
    clear:right;
}

dl.largmargins {margin-bottom:2px; padding:5px 0 8px 0;font-weight:bold;width:250px;overflow:hidden;}

.largmargins dt {color:#5c5c5c;float:left;font-size:12px;padding: 2px 5px 2px 0;clear:left;}

.largmargins dd{padding-left:5px;float:left;font-size:12px;color:#ffffff;padding:2px 0;clear:right;}


dl.smallmargins {
  	width:250px;
    overflow:hidden;
	font-weight:bold;
}

.smallmargins dt { color:#5c5c5c;
    float:left;
    font-size:11px;
    padding: 3px 2px 1px 0;
   	font-weight: bold;
    clear:left;}

.smallmargins dd{
	padding-left:5px;
	font-size:11px;
	color:#ffffff;
	padding: 3px 0px 1px 0;
	font-weight: bold;
    clear:right;}

dl.nomargins {
	padding: 0 6px 0 0;
  	width:250px;
	font-weight:bold;
}
dl.nomargins.toppadding {
	padding: 10px 6px 0 0;
}
.nomargins dt { color:#5c5c5c;
    float:left;
    font-size:11px;
    padding: 0 6px 0 0;
   font-weight: bold;
    clear:left;}

.nomargins dd{
	 padding-left:5px;
	font-size:11px;
	color:#ffffff;
     padding: 0;
     font-weight: bold;
    clear:right;}


.newsbox {
    border: 1px solid #BBBBBB;
    margin-bottom: 10px;
    padding: 10px;
	width:956px;
	display:inline-block;
	*display:inline ;
	*zoom:1;		
    }

.newsbox a,.two-column-box a{
    color: black;
    text-decoration: underline;
    font: 11px/16px "Arial",Helvetica,sans-serif;
	}

.newsbox a,.three-column-box a{
    color: black;
    text-decoration: underline;
    font: 11px/16px "Arial",Helvetica,sans-serif;
	}

	
.newsbox a:hover, .two-column-box a:hover{color:#F3980D;}
	
#productHeaderInfo a{color: #5c5c5c;text-decoration: underline;font: 11px/16px "Arial",Helvetica,sans-serif;}
#productHeaderInfo a:hover{color: #fAA21B;}
	
.enquireBtn, #productHeaderInfo a#enquireBtn, #facebox a#enquireBtn, #content a#enquireBtn, div#enquireBtn a.enquire-link { 
	position:absolute;
	right:10px;
	bottom:8px;
	font-size: 16px;
	color: black;
	outline: none;
	width: auto;
	cursor: pointer;
	text-decoration: none;
	padding: 10px 25px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 0;
	background: #faa21b;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fccc83), to(#faa21b) );
	background: -moz-linear-gradient(#fccc83, #faa21b);	
}

.enquireBtn, #content a#enquireBtn, div#enquireBtn a.enquire-link { 
	position:relative;
	float:right;
}

.enquireBtn, #productHeaderInfo a#enquireBtn:hover, #facebox a#enquireBtn:hover, #content a#enquireBtn:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#faa21b), to(#fccc83) );
	background: -moz-linear-gradient(#faa21b, #fccc83);
}
	
.newsbox .img{padding-right:15px;}

.clearpadding{margin-left:-5px;}

.hidden{display:none;}

.two-column-box h6 a {
	font: bold 12px/16px "Arial", Helvetica, sans-serif;
	color: #f3980d;
	text-decoration: none;
}
.two-column-box h6 a:hover {
	color: #f3980d;
	text-decoration: underline;
}

.tooltip {
	display:none;
	background:url('http://localhost:4200/assets/images/rar.png');
	height:163px;
	padding:40px 30px 10px 30px;
	width:310px;
	font-size:11px;
	color:#fff;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}

.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}

#footer-left-container-left{float:left;width: 78px;}
#footer-left-container-right{ float: left;font-size: 9px;width: 900px;}
#menu-footer-left{list-style-type: none; margin: 0;padding: 0;}
#menu-footer-left li{ display : block;padding:0px 6px 0px 6px;border-right: 1px solid #5c5c5c;float: left;}
#menu-footer-left li.lastitem {border-right:0px;}
#menu-footer-left li a{color: black;text-decoration: underline;font-size: 11px;line-height: 16px;}

.navcontent{background:#1f1f1f;z-index:5;position:absolute;display:none;}
#header1Image{z-index:1;position:relative;}

#navcontentContainer{width:1000px;position:absolute; z-index:10;}

#navcontentContainer h1 em  {color:#999999;}
#navcontentContainer h1 a {color:#fff;}

#navcontent1{width:1000px;height:481px;}
#navcontent2{width:350px;height:481px;position:absolute;right:0px;}

/*.sliderContent{clear:both;}*/

.navcontentbox1{height:450px;width:190px;float:left;padding:15px; border-right: 1px solid #4c4c4c;}
.navcontentbox2{height:450px;width:140px;float:left;padding:15px; border-right: 1px solid #4c4c4c;display:none;}
.navcontentbox3{height:450px;width:295px;float:left;padding:15px; border-right: 1px solid #4c4c4c;display:none;}
.navcontentbox4{height:450px;width:225px;float:left;padding:22px;display:none;}
.navcontentbox5{height:450px;width:225px;float:left;padding:15px;display:block;}

.tours-year li,.tours-duration li ,.tours-country li  {
    color: black;
    list-style-type: none;
    font-size: 12px;
    padding-top:10px;
    padding-left: 10px;
}

.tours-year li a, .tours-year li a:visited,.tours-duration li a, .tours-country li a:visited,.tours-country li a, .tours-country li a:visited {
    //background: url('../images/arrow.gif') no-repeat scroll 0 6px transparent;
    color:#ffffff;
    border-bottom: 0 none;
    font-weight: normal;
    padding: 3px 12px;
    text-decoration: underline;
}
.tours-year li a:hover,.tours-duration li a:hover,.tours-country li a:hover{
    //background: url('../images/arrow.gif') no-repeat scroll 0 6px transparent;
    color:#FAA21b;
    text-decoration: underline;
}

.navcontentbox2 ul li  {
    color: black;
    list-style-type: none;
    font-size: 12px;
    padding-top:10px;
    padding-left: 10px;
}

.navcontentbox2 ul li a {
    //background: url('../images/arrow.gif') no-repeat scroll 0 6px transparent;
    color:#ffffff;
    border-bottom: 0 none;
    font-weight: normal;
    padding: 3px 12px;
    text-decoration: underline;
}
.durationwidget ul li a {
    //background: url('../images/arrow.gif') no-repeat scroll 0 6px transparent;
    border-bottom: 0 none;
    font-weight: normal;
    padding: 3px 12px;
    text-decoration: underline;
}
.navcontentbox2 ul li a:hover{
    color:#FAA21b;
}

#duration-navigator ul li a{
    //background: url('../images/arrow.gif') no-repeat scroll 0 6px transparent;
    border-bottom: 0 none;
    font-weight: normal;
    padding: 3px 12px;
    text-decoration: underline;
}
.tours-list li,#menu-charter-tours li {
    color: black;
    list-style-type: none;
    font-size: 12px;
    padding-top:5px;
}

.tours-list li a, .tours-list li a:visited,#menu-charter-tours li a, #menu-charter-tours li a:visited {
    //background: url('../images/arrow.gif') no-repeat scroll 0 6px transparent;
    color:#ffffff;
    border-bottom: 0 none;
    font-weight: normal;
    padding: 3px 12px;
    text-decoration: underline;
}
.tours-list li a:hover,#menu-charter-tours li a:hover{
    //background: url('../images/arrow.gif') no-repeat scroll 0 6px transparent;
    color:#FAA21b;
    text-decoration: underline;
}

p.wprice {
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
	margin-bottom:0;
}

p.wmore {
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
    margin: 0;
}

.wdetails{color:#ffffff; height: 255px; overflow: hidden;}

.wdetails a {
    color: #F3980D;
    text-decoration: underline;
}

p.wactivity {
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
}


#content ul.breadcrumb{
	clear:both;
	color: #5c5c5c;
    font-size: 12px;
    list-style: none;
    padding-bottom: 5px;
}
#content ul.breadcrumb li{
	display: inline;
}
#content ul.breadcrumb li a{
	color: #000;
	text-decoration: underline;
}
#content ul.breadcrumb li a:hover{
	color: #F3980D;
}
#content ul.breadcrumb li a.selected{
	color: #F3980D;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    height:157px;
	margin-left: 0px;
	padding-left: 0px;
	width: 100%;
	margin-top: 244px;
	padding-top: 310px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

ul.jcarousel-control {
    margin-left: 800px;
	width: 250px;
    position: absolute;
    margin-top: 220px;
	padding-top: 200px;
    z-index: 1;
}

ul.jcarousel-control li {
    background-image: url('http://localhost:4200/assets/images/rar.png');
    display: inline-block;
    height: 17px;
    width: 17px;
	*display:inline ;
	*zoom:1;		
}


#banner a,#banner a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#banner .banner-content {
	height:65px;
	background: #000000;
	margin-top: -5px;
}

#banner .banner-content p {
	margin: 0;
	padding-left: 40px;
	color: #FFFFFF;
}

#banner .banner-content p.banner-title{
	font: bold 25px Arial,Helvetica,sans-serif;
    padding-left: 20px;
    padding-top: 10px;
}	

#banner .banner-content p.banner-title img{
    padding-bottom: 5px;
    padding-right: 10px;
}

.loadImage{width:32px;height:32px;display:block;margin-left: auto;margin-right: auto;margin-top:193px;}
#product-navigation {

width: 100%;

}
#product-navigation .wrapper{ padding:0px; width:100%; height:6px;}
#product-navigation #menu-product-navigation{display:table;width: 100%;}
#product-navigation #menu-product-navigation #accommodatedtour{width:258px;}
#product-navigation #menu-product-navigation #campingtour{width:258px;}
#product-navigation #menu-product-navigation #daytour{width:258px;}
#product-navigation #menu-product-navigation #accommodation{width:258px;}
#product-navigation #menu-product-navigation #chartertour{width:258px;}

.browseListings h2{
	font-weight: bold;
	margin-bottom: 10px
}

#date-details{float: left; margin: 10px 0;}

#facebox-loading {
	text-align:center;
}

#facebox .form-container {
	padding-bottom: 50px;	
}

#facebox a#enquireBtn {
	bottom: 20px;
	right: 45px;
}

#twitter {
    margin-top: 5px;
}
#twitter h4 {
	background:none;
}
#content a#request-brochure{
    border: medium none;
    height: 92px;
    width: 240px;
    cursor: pointer;
    margin: 0 0 10px;
    display:block;
    text-decoration:none;
}
.nomadNews .featuredblog h3 {
	color: #5c5c5c;
	font: normal 12px/14px "Arial", Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.nomadNews .featuredblog h3 em {
	color: #111;
	font: bold 25px/27px "Arial", Helvetica, sans-serif;
	display: block;
	text-transform: none;
	letter-spacing: -0.04em;
}

.sliderContent .navigatorwidget{  margin-bottom: 15px; position: relative; width: 190px; }
.sliderContent .navigatorwidget ul.product-detailed-navigator li { color: black; font-size: 12px; list-style-type: none; padding-left: 5px; padding-top: 10px; }
.sliderContent .navigatorwidget ul.product-detailed-navigator li a, .sliderContent .navigatorwidget ul.product-detailed-navigator li a:visited,.sliderContent .navigatorwidget ul.product-detailed-navigator li a:link{ white-space: nowrap; 
border-bottom: 0 none; color: #FFFFFF; font-weight: normal; padding: 3px 12px; text-decoration: underline; text-transform:capitalize; }

.imagegallerywidget h3{
	display:none;
}

.imagegallerywidget div.image {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 5px 6px 6px 5px;
    overflow: hidden;
    position: relative;
}

.imagegallerywidget img {
    float: left;
    padding: 0;
}

.imagegallerywidget div.image label {
    color: black;
    font-size: 11px;
    line-height: 14px;
    padding: 10px 10px 0;
    text-transform: uppercase;
	display:block;
	position:relative;
	float: left;
	background: #faa21b;
	height: 100px;
	width: 100%;
	opacity: 0.9;
	filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = 90)";
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
#social-share-links div {
	display:inline-block;
	width: 100px;
	*display:inline ;
	*zoom:1; 	
}
#page-not-found {
	text-align:center;
}
#page-not-found img {
	padding: 25px 0;
}
#page-not-found h1 {
	padding: 0 0 10px;
}
#page-not-found h1 em {
	letter-spacing: 0.01px;
}

#page-not-found .submit-container {
    float: none;
}

#page-not-found .submit-container a.btn {
	color:#fff;
	text-decoration: none;
}

#page-not-found .form-container {
    display: inline-block;
    float: none;
	padding: 20px 0 0;    
	*display:inline ;
	*zoom:1;     
}

#page-not-found .form-container .formfield-container {
    float: none;
    height: 40px;
    width: 400px;
}

#page-not-found .form-container .formfield-container label {
	width:100px;
	text-align:left;
}

#unsubscribe .form-container{
    display: inline-block;
    float: none;
	width: 100%;
	*display:inline ;
	*zoom:1;  	
}
#unsubscribe .form-container .formfield-container {
    float: none;
}

#unsubscribe .form-container .formfield-container label {
	width:100px;
}
#unsubscribe .submit-container {
	float:left;
	padding: 0 10px;
}
#unsubscribe .submit-container a.btn {
	color:#fff;
	text-decoration: none;
	margin:0;
}

.newsletter.box {
    border: none;
    height: 220px;
    width: 220px !important;

}
.newsletter.box input {
 	border: 1px solid #FAA21B;
}
#profiles{
	color:#000000;
	text-decoration: none;
	margin:0 0px 0 0px;
	padding:0;
	clear: both;
	height: 100%;
	width: 100% !important;
}
.profiles.box {
    background: #E5E5FF;
    border: none;
    float: right;
    width: 100% !important;
	margin: 0 0px 0 5px;
	padding-top: 9px;
	clear: both;
	height: 100%;
}
#menuFull{
width: 100%;
clear: both;
padding:0px 0px 30px;
margin:0px;
}
#subscribecontainer img.newsletter-icon {
	display:inline-block;	
}
#subscribecontainer h3 {
	color:#ffffff;
    display: inline-block;
    width: 75%;
}
#browse-button {
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    width: 130px;
}
#subscribe-button {
    display: inline-block;
    height: 34px;
    margin-left: 5px;
    margin-top: 5px;
    width: 76px;
}
#subscribecontainer a:hover, #subscribecontainer a:active {
	color:#fff
}
#btnsubscribe {
	//background: url('../images/newsletter_subscribe_button.png') repeat 0 0;
}
#frmsubscribe input.error{
	outline: 2px solid #FF0000;
}
#frmsubscribe label.error{
	display: none !important;
}
/*-- Camtour --*/

#slider-wrapper div.jqans-wrapper.default a {
    color: #363636 !important;
}
#slider-wrapper div.jqans-wrapper.default {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-left: 1px solid #DBE1E6;
    border-right: 1px solid #DBE1E6;
    border-top: 1px solid #DBE1E6;
    color: inherit;
}
#slider-wrapper div.jqans-wrapper.default .jqans-headline strong {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
#slider-wrapper div.jqans-wrapper.default img {
    margin: 0;
    max-width: 100%;
    padding: 0;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 {
    font-size: 138% !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 a, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:hover, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:active, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:visited {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #16387C !important;
    text-decoration: none;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content p {
    color: #333333 !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories {
    border-bottom-color: #DBE1E6;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li {
    background-color: #FCFCFD;
    background-image: -moz-linear-gradient(center top , #E8EDF0, #FCFCFD);
    border-top-color: #A8B4BF;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected {
    background-color: #59728B;
    background-image: -moz-linear-gradient(center top , #59728B, #2D4458);
    border-top-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li img {
    background-color: #FFFFFF;
    border: 1px solid #C5CED7;
    margin: 8px 0 0;
    padding: 0;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected img {
    border: 1px solid #000000;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li h3 {
    background: none repeat scroll 0 0 transparent !important;
    color: #59728B !important;
    font-size: 12px !important;
    font-weight: normal;
    line-height: 14px !important;
    margin: 0;
    padding: 0;
    text-shadow: none;
    text-transform: none;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected h3 {
    color: #FFFFFF !important;
    font-size: 12px !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li.selected div {
    border-bottom: 10px solid #59728B;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector ul, #slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li {
    background: none repeat scroll 0 0 transparent !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination {
    background-color: #F9FAFA;
    border-bottom-color: #DBE1E6;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a {
    border-right-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a {
    border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a span {
    border-right-color: #F9FAFA;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a span {
    border-left-color: #F9FAFA;
}
#slider-wrapper div.jqans-wrapper.default #control-play {
    border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default #pause-left, #slider-wrapper div.jqans-wrapper.default #pause-right {
    background: none repeat scroll 0 0 #59728B;
}
/* Accessible News Slider : Theme Custom*/
/* DEFAULT STYLES
#slider-wrapper div.jqans-wrapper.default a &gt; color of links in post text
*/
#slider-wrapper div.jqans-wrapper.default a {
color:#363636 !important;
}
/* WRAPPER
#slider-wrapper div.jqans-wrapper.default &gt; color of the top, left, right border background color and text color (useful for changing color to subtitle) of the main wrapper
*/
#slider-wrapper div.jqans-wrapper.default {
border-left: 1px solid #DBE1E6;
border-right: 1px solid #DBE1E6;
border-top: 1px solid #DBE1E6;
background: #FFF !important;
color:inherit;
}
/* HEADLINE
#slider-wrapper div.jqans-wrapper.default .jqans-headline strong &gt; aspect of the widget title (\\\\\\\"Today news\\\\\\\")
*/
#slider-wrapper div.jqans-wrapper.default .jqans-headline strong {
text-transform:uppercase;
font-weight:bold;
color:#000;
}
/* POST CONTENT
#slider-wrapper div.jqans-wrapper.default img &gt; img dimensions
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 &gt; size of post title
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 a, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:hover, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:active, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:visited &gt; color of post title
#slider-wrapper div.jqans-wrapper.default .jqans-content p &gt; color of post paragraph
*/
#slider-wrapper div.jqans-wrapper.default img {
max-width:100%;
margin:0;
padding:0;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 {
font-size: 138% !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 a, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:hover, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:active, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:visited {
color: #16387C !important;
text-decoration:none;
background:transparent;
border:none;
}
#slider-wrapper div.jqans-wrapper.default .jqans-content p {
color: #333 !important;
}

#slider-wrapper div.jqans-wrapper.default .jqans-stories {
border-bottom-color:#DBE1E6;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li {
background-color:#FCFCFD;
background-image:-moz-linear-gradient(center top , #E8EDF0, #FCFCFD);
border-top-color:#A8B4BF;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected {
background-color:#59728B;
background-image:-moz-linear-gradient(center top , #59728B, #2D4458);
border-top-color:#59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li img {
border: 1px solid #C5CED7;
background-color: #fff;
margin:8px 0 0 0;
padding:0;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected img {
border: 1px solid #000;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li h3 {
font-size:12px !important;
color:#59728B !important;
line-height:14px !important;
text-transform:none;
background:transparent !important;
background-color:transparent !important;
background-image:none !important;
margin:0;
padding:0;
text-shadow:none;
font-weight:normal;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected h3 {
font-size:12px !important;
color:#FFF !important;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li.selected div {
border-right: 10px solid transparent;
border-bottom: 10px solid #59728B;
border-left: 10px solid transparent;
}
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector ul, #slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li {
background-color: transparent !important;
background: transparent !important;
}

#slider-wrapper div.jqans-wrapper.default .jqans-pagination {
border-bottom-color:#DBE1E6;
background-color:#F9FAFA;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a {
border-right-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a {
border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a span {
border-right-color: #F9FAFA; /* it needs to be the same color as #slider-wrapper div.jqans-wrapper.default .jqans-pagination background color*/
}
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a span {
border-left-color: #F9FAFA; /* it needs to be the same color as #slider-wrapper div.jqans-wrapper.default .jqans-pagination background color*/
}
#slider-wrapper div.jqans-wrapper.default #control-play {
border-left-color: #59728B;
}
#slider-wrapper div.jqans-wrapper.default #pause-left, #slider-wrapper div.jqans-wrapper.default #pause-right {
background: #59728B;
} 

/* Master */
#master-wrapper {
    background: url("http://localhost:4200/assets/images/refereebg1.jpg") repeat fixed center center #000000;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* Menu start*/
.nfMain {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #00AD00;
    border-image: none;
    border-style: solid;
    border-width: 0 0 0 2px;
	width:980px;
	clear: both;
	padding:0;
	margin:0;
	position: relative;
	display: block;
	
}
.nfMain .nfItem {
}
.nfMain .nfLink {
    border-color: #00AD00;
    border-style: solid;
    border-width: 0 2px 2px 0;
    color: #000000;
    font-family: Arial;
    font-size: 0.9em;
    padding: 9px 30px 5px;
    text-decoration: none;
}
.nfPure .nfItem:hover > .nfLink, .nfPure .nfItem:hover > * > .nfLink {
    text-decoration: underline;
}
.nfPure .nfLink:hover, .nfMain .nfJSHover {
    color: #FFFFFF;
    text-decoration: underline;
}

.nfMain, .nfSubC, .nfSubS{list-style:none;margin:0px;padding:0px;}
.nfMain{position:relative;z-index:1;}
.nfMain .nfSubC{visibility:hidden;position:absolute;}
.nfMain .nfItem, .nfMain .nfLink{list-style:none;position:relative;display:block;white-space:nowrap;margin:0px;}
.nfMain:after{content: ".";display:block;height:0px;clear:both;overflow:hidden;}
.nfPure .nfItem:hover, .nfPure .nfItem:hover>.nfSubC{z-index:1101;visibility:inherit;}
.nfPure .nfLink:focus{z-index:1102;}
.nfMain .nfJSActiveItem{z-index:1101;}
.nfMain .nfJSShowSub{z-index:1101;visibility:inherit;}
.nfMain .nfItem div.nfLink {cursor:default;}
.nfMain .nfItem {float:left;}.nfMain .nfItem .nfItem {float:none;}.nfMain .nfItem .nfSubC {top:100%;left:0px;width:auto;}.nfMain .nfSubC .nfItem .nfSubC {top:0px;left:100%;width:auto;}

/*~~~~~~~~~~~~~~~~ Menu Styles (global - all menus) ~~~~~~~~~~~~~~~~*/
/******[Main Menu]******/
/*Main Menu Container*/
.nfMain {
background-color:#55556a;
background-image:url('http://localhost:4200/assets/images/refereebg.jpg');
padding:0px 0px 0px 20px;}
/*Item Links*/
.nfMain .nfLink {border-style:solid;
border-width:1px 0px 1px 1px;
border-color:#333;
padding:6px 40px 6px 20px;
font-family:Arial;
font-size:14px;
color:#fff;
text-decoration:none;}
/*Item Links - Parent*/
.nfMain .nfParent .nfLink {
//background-image:url('../images/arrow1_down.gif');
background-position:92% 52%;
background-repeat:no-repeat;
}
.nfMain .nfParent .nfSubS .nfLink {
background-image:none;
}
/*Item Links - Hover (duplicate styles below!)*/
.nfPure .nfItem:hover>.nfLink, .nfPure .nfItem:hover>*>.nfLink {
text-decoration:underline;
}
.nfPure .nfLink:hover, .nfMain .nfJSHover {
text-decoration:underline;
}
/*Item Links - Active*/
.nfMain .nfItem .nfJSActive {
border-bottom-color:#e5ebf7;
background-color:#e5ebf7;
color:#425fa7;
text-decoration:underline;}
/*Item Links - Focus*/
.nfPure .nfLink:focus, .nfMain .nfItem .nfJSFocus {
text-decoration:underline;
}
/*Item Links - Breadcrumbs*/
.nfMain .nfItem .nfJSBreadcrumb {}
/******[Sub Menus]******/
/*Sub Menu Styles*/
.nfMain .nfSubS {
background-color:#e5ebf7;padding:20px;
}
.nfMain .nfSubS {
height: auto;
border:solid 1px #333;
border-width:0px 1px 1px 1px;
background-color:#e5ebf7;
-moz-border-radius-bottomLeft:10px;
-moz-border-radius-bottomRight:10px;
-webkit-border-bottom-right-radius:10px;
-webkit-border-bottom-left-radius:10px;}
/*Sub Menu Position Offsets - Level 2*/
.nfMain .nfSubS .nfSubC {
margin:-1px 0px 0px 0px;
}
/*Sub Menu Styles - Level 2*/
.nfMain .nfSubS .nfSubS {
border-width:1px;
}
.nfMain .nfSubS .nfSubS {
-moz-border-radius-topRight:10px;
-moz-border-radius-bottomLeft:10px;
-moz-border-radius-bottomRight:10px;
-webkit-border-bottom-right-radius:10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-top-right-radius:10px;
}
/*Item Links*/
.nfMain .nfSubS .nfLink {
border-style:solid;
border-width:0px 0px 1px 0px;
border-color:#999;
padding:6px 40px 6px 5px;
font-size:13px;color:#55556a;
}
/*Item Links - Parent*/
.nfMain .nfSubS .nfParent .nfLink {
//background-image:url('../images/arrow1_right.gif');
}
.nfMain .nfSubS .nfParent .nfSubS .nfLink {background-image:none;}
/*Item Links - Last Child (ignored by IE8 & down)*/
.nfMain .nfSubS .nfItem:last-child .nfLink {border-width:0px;}
/*Item Links - Hover (duplicate styles below!)*/
.nfMain .nfSubC .nfItem:hover>.nfLink {}
.nfMain .nfSubC .nfLink:hover, .nfMain .nfSubC .nfJSHover {}
/*Item Links - Active*/
.nfMain .nfSubS .nfItem .nfJSActive {background-color:#ccd0e3;color:#425fa7;text-decoration:underline;}
/*Item Links - Focus*/
.nfPure .nfSubS .nfLink:focus, .nfMain .nfSubS .nfItem .nfJSFocus {color:#03f;}
/*Item Links - Breadcrumbs*/
.nfMain .nfSubS .nfItem .nfJSBreadcrumb {}
/******[Custom Example Menu Styles]******/
.custTitle {
font-size:1em;
margin:20px 0px 5px 0px;
color:#55556a;
font-weight:bold;
}
.custTitleBoxed {
font-size:.9em;
margin:20px 0px 5px 0px;
color:#55556a;
padding:8px;
border-style:solid;border-width:1px;
background-color:#fff;
border-color:#979cb6;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}
.custTitleTop {
margin:5px 0px 5px 0px;
}
.custMegaSub {
width:760px;
}
.custMegaItem {
font-size:.9em;
}
.megaContentRight {
position:relative;
width:190px;
left:290px;
}
.megaContentMiddle {
position:absolute;
width:140px;
left:170px;
}
.megaContentLeft {
position:absolute;
width:240px;
}
.megaContentMiddle ul, .megaContentLeft ul, .megaContentRight ul {
list-style-type:circle;
margin:10px 0px 0px 24px;
padding:0px;
}
.megaTopTitle {
width:440px;
font-size:1em;
color:#55556a;
white-space:normal;
margin-bottom:10px;
padding:8px;
border-style:solid;
border-width:1px;
background-color:#fff;
border-color:#979cb6;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}
.megaTitle {
color:#55556a;
white-space:normal;}
/*End menu */

#content .whitebg {
background: red;
clear:both;
}

#master-wrapper{
	opacity: 0.987679;
	background: url( '/assets/images/refereebg.jpg') repeat fixed center center transparent;
}

