<app-toast [message]="toast.message"></app-toast>
<div class="card col-sm-12">
<div class="card">
  <h4 class="card-header elegantshd bigFont">Reset Password</h4>
  <div class="card-block">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

      <div class="input-group" [ngClass]="setClassPassword1()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" [value]="password1" name="password1" formControlName="password1" placeholder="Password">
      </div>
      

      <div class="input-group" [ngClass]="setClassPassword2()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" [value]="password2" name="password2" formControlName="password2" placeholder="Repeat password">
      </div>
      
       <input type="hidden" [value]="password2" name="passcode" formControlName="passcode">

      <button class="btn btn-primary btn-sm" type="submit" [disabled]="!resetPasswordForm.valid"><i class="fa fa-sign-in"></i>Reset Password</button>

    </form>
    
  </div>
</div>
</div>