<div class="fadeInForm">
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
      <div class="input-group" [ngClass]="{ 'has-danger': password1Invalid }">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" formControlName="password1" placeholder="New password">
      </div>
      <div class="input-group" [ngClass]="{ 'has-danger': password2Invalid }">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" formControlName="password2" placeholder="Repeat new password">
      </div>
      <br>
      <div>
        <button type="submit" title="Save new password" class="btn btn-primary btn-sm" [disabled]="passwordForm.invalid"><i class="fa fa-save"></i>Save</button>
        <button class="btn btn-secondary btn-sm" title="Cancel new password" (click)="onCancel($event)"><i class="fa fa-times"></i>Cancel</button>
      </div>
    </form>
</div>
