:host {
	.label {
		width: 100%;
	}
	.search-box {
		padding: 0.5em;
		margin: 1em auto;
		width: 30%;
		min-width: 150px;
	}
	.search-attribute {
		display: inline-block;
	}
	/deep/ .search-attribute {
		.mat-radio-button {
			padding-left: 0.3125em;
		}
	}
}
