<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand navbar-dark bg-primary">

      <a routerLink="/" class="nav-item nav-link navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> 
        <img src="assets/images/reficon1.png" class="img-fluid img-responsive img_reposition" alt="Rent A Ref">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              Home
            </a>      
          </li>
          <li class="nav-item">
            <a routerLink="/how-it-works" class="nav-item nav-link" routerLinkActive="active">
              How It Works
            </a>   
          </li>
          <li class="nav-item">
            <a [routerLink]="['/organization', auth.currentUser.id ]" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn"
            [routerLinkActiveOptions]="{exact: true}">
              <span *ngIf="auth.currentUser.can_organize == 'active'">Organization</span>
            </a>    
          </li>
          <li class="nav-item">
            <a [routerLink]="['/account', auth.currentUser.id, 'schedule' ]" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn"
              [routerLinkActiveOptions]="{exact: true}">
                <span *ngIf="auth.currentUser.can_referee == 'active'">Schedule</span>
              </a> 
          </li>
          <li class="nav-item">
            <a [routerLink]="['/account/profile', auth.currentUser.id]" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn"
              [routerLinkActiveOptions]="{exact: true}">
                Profile
              </a>  
          </li>
          <li class="nav-item">
            <a [routerLink]="['/account', auth.currentUser.id]" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn"
              [routerLinkActiveOptions]="{exact: true}">
                Account ({{auth.currentUser.email}})
              </a> 
          </li>
          <li class="nav-item">
            <a [routerLink]="['/account/admin', auth.currentUser.id]" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin"
              [routerLinkActiveOptions]="{exact: true}">
              Admin
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              Logout
            </a>
          </li>   
          <li class="nav-item">
            <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              Login
            </a>
          </li> 
          <li class="nav-item">
            <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              Register
            </a> 
          </li>  
        </ul>
      </div>
    </nav>    
  </div>
</div>