<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        //!--We need to pass an event onClick so we know what we are dealing with--
        <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        //!--Add the dropdown directive appDropDown from the shared/dropdown.directive.ts to enable the dropdown to work--
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>-->
<nav class="navbar navbar-dark bg-primary">
  <div class="nav navbar-nav">
    <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/how-it-works" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa  fa-info-circle" aria-hidden="true"></i> How It Works
      </a>
      <a routerLink="/pricing" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa  fa-money" aria-hidden="true"></i> Pricing
      </a>
    <a routerLink="/cats" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Cats     </a>
     
    <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-sign-in"></i> Login
      </a>
    <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-user-plus"></i> Register
      </a>
      
    <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
      </a>
    <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
        <i class="fa fa-lock"></i> Admin
      </a>
    <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-sign-out"></i> Logout
      </a>
      
  </div>  
</nav>

<!--
  <ul class="nav navbar-nav navbar-right">
    !--Add the dropdown directive appDropDown from the shared/dropdown.directive.ts to enable the dropdown to work--
<li class="dropdown" appDropdown>
  <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Save Data</a></li>
    <li><a href="#">Fetch Data</a></li>
  </ul>
</li>
</ul>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>-->