.payment {
  background-color: #fdfdfd;
  width: 100%;
  margin-bottom: 10px;
  max-width: 600px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

.payment fieldset {
  border: 1px solid #b5a4ed;
  padding: 15px;
  border-radius: 6px;
}

.payment fieldset legend {
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: #fdfdfd;
}

.payment fieldset legend + * {
  clear: both;
}

.payment .card-only {
  display: block;
}
.payment .payment-request-available {
  display: none;
}

.payment {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 5px 15px 0;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  .payment-back {
    background-color: #fdfdfd;
  }
  .payment-button {
    background-color: #24b47e;
  }
}

.payment input:active {
  background-color: #159570;
}

.payment .error svg {
  margin-top: 0 !important;
}

.payment .error svg .base {
  fill: #e25950;
}

.payment .error svg .glyph {
  fill: #fff;
}

.payment .error .message {
  color: #e25950;
}

.payment .success .icon .border {
  stroke: #abe9d2;
}

.payment .success .icon .checkmark {
  stroke: #24b47e;
}

.payment .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.payment .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.success .reset path {
  fill: #24b47e;
}

.full-width {
  width: 100%;
}

h4.contrain-text {
  font-size: 1rem;
}
