<app-toast [message]="toast.message"></app-toast>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="form-size">
        <form [formGroup]="form" (ngSubmit)="register(model)">
          <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.invalid">Register</button>
            <br /><br />
            <re-captcha
              (resolved)="resolvedRecaptcha($event)"
              type="image"
              siteKey="{{recapture}}"
              *ngIf="recapture"
            ></re-captcha>
          </formly-form>

        </form>
      </div>
    </div>
  </div>
</div>
