<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-block">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group required-field-block" [ngClass]="setClassfullname()" >
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="firstname" formControlName="firstname" placeholder="Fullname" autofocus aria-describedby="basic-addon-firstname">
        <span class="input-group-addon" id="basic-addon-firstname" style="color: orange; font-size: 10px;font-style: italic">Max: 50  .</span>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>
      <div class="input-group required-field-block" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" aria-describedby="basic-addon-email" email>
        
        <span class="input-group-addon" id="basic-addon-email" style="color: orange; font-size: 10px;font-style: italic">Valid Email  .</span>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>
      <div class="input-group required-field-block" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password" aria-describedby="basic-addon-password">
        <span class="input-group-addon" id="basic-addon-password" style="color: orange; font-size: 10px;font-style: italic">Min 6   .</span>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>
      <!--Repeat password-->
<div class="input-group required-field-block" [ngClass]="setClassPasswordrepeat()">
  <span class="input-group-addon"><i class="fa fa-key"></i></span>
  <input class="form-control" type="password" name="passwordrepeat" formControlName="passwordrepeat" placeholder="Repeat Password" aria-describedby="basic-addon-passwordrepeat">
  <span class="input-group-addon" id="basic-addon-passwordrepeat" style="color: orange; font-size: 10px;font-style: italic">Min 6   .</span>
  <div class="required-icon">
    <div class="text">*</div>
  </div>
</div>
      <!--end-->
      <div class="input-group required-field-block" [ngClass]="setClassphone()">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <input class="form-control" type="text" name="phone" formControlName="phone" placeholder="Phone Number" autofocus aria-describedby="basic-addon-phone" phone="CN">
        <span class="input-group-addon" id="basic-addon-phone" style="color: orange; font-size: 10px;font-style: italic">Valid Phone   .</span>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>

<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>
  <select class="form-control" name="sex" formControlName="sex">
          <option value="" selected disabled>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
</div>

      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="Organizer">Organizer</option>
          <option value="Referee">Referee</option>
        </select>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Register</button>
    </form>
  </div>
</div>