<div class="row">
  <div class="col-12" *ngIf="isViewState('noMatches')">
  	<div class="card horizontal-and-vertical-centering ">
      <div class="form-size">
        <strong class="etched-text">You have no <i>Matches</i>.</strong>
        <p>You need to create at least one Match. Once the match is created you can assign <i>referees</i> to the match.</p>
          
        <button class="btn btn-primary btn-sm"  title="Click to create a new match" (click)="createNewMatch()">New Match</button>
      </div>
    </div>
  </div>

  <div class="col-12 form-size" *ngIf="isViewState('editMatch')">
  	<matches-form [model]="model" (ngSubmit)="submitEvent($event)" (ngCancel)="setMatchesMode($event)"></matches-form>
  </div> 
</div>
