<div class="row">
  <div class="col-12">
  	<div class="card horizontal-and-vertical-centering ">
      <div class="form-size">
        <strong class="etched-text">You have no <i>Matches</i>.</strong>
        <p>You need to create at least one Match. Once the match is created you can assign <i>referees</i> to the match.</p>
          
        <button class="btn btn-primary btn-sm"  title="Click to create a new match">New Match</button>
      </div>
    </div>
  </div>

  <div class="col-12 form-size">
  	<matches-form></matches-form>
  </div> 
</div>
