<div class="card">
  <h4 class="elegantshd bigFont">How It Works</h4>
  <div class="card-block">
    <div class="bg-faded how-it-works-opacity">
        <div class="row">
                <div class="col-xs-12">
                        <div class="row">
                                

                                <div class="col-sm-12 text-justify">
                                       
                                        <!--Start-->
                                        <hr>

                                        <div class="card-deck">
                                                <div class="card">
                                                        <div class="card-block">                                                                                        <p class="card-text"><span><img src="assets/images/calendar.png" class="img-fluid img-responsive"  width="80%" max-width="100%"></span></p><p class="list-group-item-text">
                                                         Fill out an Online Form and we'll match you up with a Referee that fits best for your League, Tournament or Event.
                                                        </p>
                                                        </div>
                                                </div>
                                                <div class="card">
                                                        <div class="card-block numberbg">
                                                                <p class="rediconbg"></p>
                                                                <p class="onebg"></p>
                                                                <p class="greeniconbg"></p>
                                                                <!--<p class="card-text" style="text-align:center"><span >
                                                                        <img src="assets/images/redicon.png" class="img-fluid img-responsive" alt="Responsive image" width="10%" max-width="20%">
                                                                        

                                                               <img src="assets/images/1.gif" class="img-fluid img-responsive " alt="Responsive image" width="10%" max-width="20%">

                                                                <img src="assets/images/greenicon.png" class="img-fluid img-responsive" alt="Responsive image" width="10%" max-width="20%">

                                                                </span></p>-->
                                                        </div>
                                                </div>
                                                <div class="card">
                                                        <div class="card-block">
                                                                
                                                                <p class="card-text"><span><img src="assets/images/listcheck.png" class="img-fluid img-responsive" alt="Responsive image" width="80%" max-width="100%"></span></p>
                                                                <p class="list-group-item-text">
                                                         Fill out the Registration Form 
and take a Sports Quiz to test knowledge of the Sports you're interested in Officiating.
                                                        </p>
                                                                
                                                        </div>
                                                </div>
                                        </div>

                                        <!--End-->
                                        <!--Start-->
                                        <hr>

                                        <div class="card-deck">
                                                <div class="card">
                                                        <div class="card-block">
                                                                <p class="card-text"><span><img src="assets/images/bluecheck.png" class="img-fluid img-responsive"  width="80%" max-width="100%"></span></p>
                                                                <p
                                                                        class="list-group-item-text">
                                                                         Once your Event is confirmed by <strong>RAR</strong>, we'll send an introduction email to you and the Official.
                                                                        </p>
                                                        </div>
                                                </div>
                                                <div class="card">
                                                        <div class="card-block numberbg">
                                                                <p class="avatarbg"></p>
                                                                <p class="twobg"></p>
                                                                <p class="avatar1bg"></p>
                                                                <!--

                                                                <p class="card-text"><span><img src="assets/images/avatar.png" class="img-fluid img-responsive" alt="Responsive image" width="15%" max-width="40%">

                                                               <img src="assets/images/2.gif" class="img-fluid img-responsive " alt="Responsive image" width="10%" max-width="20%">

                                                                        <img src="assets/images/avatar1.png" class="img-fluid img-responsive" alt="Responsive image" width="15%" max-width="40%">

                                                                        </span>
                                                                </p>-->
                                                        </div>
                                                </div>
                                                <div class="card">
                                                        <div class="card-block">

                                                                <p class="card-text"><span><img src="assets/images/monitoricon.png" class="img-fluid img-responsive" alt="Responsive image" width="80%" max-width="100%"></span></p>
                                                                <p class="list-group-item-text">
                                                                        <strong>Rent-A-Ref</strong> will send you a notification once a League, Tournament or an Event is in need of your services.
                                                                </p>

                                                        </div>
                                                </div>
                                        </div>

                                        <!--End-->
                                        <!--Start-->
                                        <hr>

                                        <div class="card-deck">
                                                <div class="card">
                                                        <div class="card-block">
                                                                <p class="card-text"><span><img src="assets/images/holdcard.png" class="img-fluid img-responsive"  width="60%" max-width="100%"></span></p>
                                                                <p
                                                                        class="list-group-item-text">
                                                                         Pay the Referee, and you're ready to enjoy your event. <strong>RAR</strong> takes care of the rest so you can sit back, watch or play!
                                                                        </p>
                                                        </div>
                                                </div>
                                                <div class="card">
                                                        <div class="card-block numberbg">
                                                                <p class="ccbg"></p>
                                                                <p class="threebg"></p>
                                                                <p class="cc1bg"></p>
                                                                <!--

                                                                <p class="card-text"><span><img src="assets/images/cc1.png" class="img-fluid img-responsive" alt="Responsive image" width="35%" max-width="80%">

                                                               <img src="assets/images/3.gif" class="img-fluid img-responsive " alt="Responsive image" width="10%" max-width="20%">

                                                                        <img src="assets/images/cc.png" class="img-fluid img-responsive" alt="Responsive image" width="35%" max-width="80%">

                                                                        </span>
                                                                </p>-->
                                                        </div>
                                                </div>
                                                <div class="card">
                                                        <div class="card-block">

                                                                <p class="card-text"><span><img src="assets/images/savemoney.png" class="img-fluid img-responsive" alt="Responsive image" width="70%" max-width="100%"></span></p>
                                                                <p class="list-group-item-text">
                                                                       Once the event is complete, you will receive your payment via one of our many electronic payment options.
                                                                </p>

                                                        </div>
                                                </div>
                                        </div>

                                        <!--End-->
                                        <!--Start-->
                                        <hr>
<h4 class="elegantshd bigFont">We're Here to Help</h4>
<label>Questions about Rent-A-Ref? Click the blue button to contact us!</label>
	<div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="material-button-anim">
          <ul class="list-inline" id="options">
            <li class="option">
              <button class="material-button option1" type="button">
                <span class="fa fa-phone" aria-hidden="true"></span>
              </button>
            </li>
            <li class="option">
              <button class="material-button option2" type="button">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
              </button>
            </li>
            <li class="option">
              <button class="material-button option3" type="button">
                <span class="fa fa-pencil" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
          <button class="material-button material-button-toggle" type="button">
            <span class="fa fa-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
	</div>

                                        <!--End-->
                                </div>
                               
                        </div>
                </div>
        </div>
        </div>
  </div>
</div>