:host /deep/ .col-4, .col-3, .col-2, .col-1 {
	padding-right: 5px;
	padding-left: 5px;
}

:host /deep/ .addButton {
	margin: 2em 0;
}

:host /deep/ .card {
	margin: 1.5em 0;
}

.buttonSize {
	/*margin: auto 4px auto 0;*/
	transform: scale(0.75);
}
