<div *ngFor="let control of formControl.controls; let i = index;" class="card">
	<span *ngIf="i!=0" (click)="remove(i)" class="close close-thik" title="delete"></span>
  <formly-form
    [model]="model[i]"
    [fields]="fields[i]"
    [options]="options"
    [form]="this.formControl.at(i)"
    [ngClass]="field.fieldArray.fieldGroupClassName">
  </formly-form>
</div>
<div class="addButton">
  <button class="btn btn-primary buttonSize" type="button" (click)="add()">{{field.fieldArray.templateOptions.btnText}}</button>
</div>