.col-1,
.col-2,
.col-3,
:host /deep/ .col-4 {
	padding-right: 5px;
	padding-left: 5px;
}

:host /deep/ .addButton {
	margin: 2em 0;
}

:host /deep/ .card {
	margin: 1.5em 0;
}

.buttonSize {
	/*margin: auto 4px auto 0;*/
	transform: scale(0.75);
}

.close {
	display: block;
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
}

.close-thik:after {
	content: '✖';
	/* UTF-8 symbol */
}
