<div class="card col-sm-12">
  <div class="card">
    <h4 class="card-header elegantshd bigFont">Activation in progress...</h4>
    <div class="card-block">
      <div class="card">
        <div class="card-block numberbg">
          <p class="title=">Thank you for registrating with us.</p>
          <p>Your account is still under review and you will be contacted as soon as it made <strong>ACTIVE</strong></p>

          <br><br>

          <p>Get in touch with the administration by<span class="profile-text"> Contacting us</span> today.</p>


        </div>
      </div>
    </div>
  </div>
</div>