<div class="card col-sm-12">
  <div class="card">
    <h4 class="card-header elegantshd bigFont">Activation in progress...</h4>
    <div class="card-block">
        <button type="button" class="btn btn-primary" disabled>User ID: #{{user.id}}  :  {{person.firstname}} {{person.lastname}}</button>
        <div class="list-group">
          <!-->can_organize":"active","can_referee":"active","status":"active"-->
          <span class="list-group-item active">
          <button type="button" class="btn btn-success" disabled>Can Organize: {{user.can_organize}}</button>
        <button type="button" class="btn btn-warning" disabled>Can Referee: {{user.can_referee}}</button> <button type="button"
          class="btn btn-danger" disabled>Status: {{user.status}}</button>
        </span>
        </div>
      <div class="card">
        <div class="card-block numberbg">
          <p class="title=">Thank you for registrating with us.</p>
          <p>Your account is still under review and you will be contacted as soon as it made <strong>ACTIVE</strong></p>

          <br><br>

          <p>Get in touch with the administration by<span style="font-size: 18px; color: blue"> Contacting us</span> today.</p>


        </div>
      </div>
    </div>
  </div>
</div>