:host /deep/ .index-column,
:host /deep/ .index-column-header {
    text-align: right;
}

:host /deep/ .data-table .data-table-row.selected {
    background-color: #E4EDF9;
}

:host /deep/ .card {
	.form-size {
	  max-width: 70%;
	  min-width: 70%;
	  margin:auto;
	}

	.display-flex { display: flex; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}
}