<div class="row">
  <div class="col-12">
    <div class="card">

      <app-toast [message]="toast.message"></app-toast>
      <h1 class="etched-text" [innerHtml]="heading"></h1>
      <br />
      <div class="card form-size" *ngIf="isEditing">

        <organization-form (ngSubmit)="submitOrganization($event)" (ngCancel)="setOrganizeMode($event)" [model]="currentModel"></organization-form>
      </div>

      <div class="card horizontal-and-vertical-centering " *ngIf="!isEditing && (!organizations || organizations.length === 0)">
        <div class="form-size">
          <p>You need to create at least one organization. Then you can create and assign <i>events</i> to an organization.
            <br />An event is the tornament and venue to which you assign games. Note a game can have the same address or a different address from avenue</p>
          <button class="btn btn-primary btn-sm new-org-button" (click)="goNewOrganization({})" title="Click to create new organization">New Organization</button>
        </div>
      </div>

      <div  *ngIf="!isEditing && organizations?.length > 0">
        <div class="form-size">
          <br />
          <div class="row rar-list"  *ngFor="let organization of organizations" >
            <div class="col-3 rar-logo" (click)="openModal(organization)" title="Upload Organization Logo.">
              <rar-image [errorImage]="defaultImage"  [image]="getImageAddress(organization)" [width]="80" [alt]="logo"></rar-image>
            </div>
            <div class="col-5" (click)="editEvents(organization.id);" title="Edit Events.">
              <h2>{{organization.name}}</h2>
            </div>
            <div class="col-2">
              <div class="button-container">
                <button class="btn btn-primary btn-sm" (click)="editOrganization(organization.id)" title="Edit Organization.">Edit</button>
              </div>
            </div>  
            <div class="col-2">
              <div class="button-container">
                <button class="btn btn-danger btn-sm" (click)="goNewOrganization()" title="Click to delete organization">Delete</button>
              </div>
            </div>
          </div>

          <br />
          <button class="btn btn-primary btn-sm new-org-button" (click)="goNewOrganization()" title="Click to create new organization">New Organization</button>
        </div>
      </div>

      <rar-cropper-image-modal [destination]="destination"></rar-cropper-image-modal>
    </div>


</div>
