<div class="row">
  <div class="col-12">
    <div class="card">

      <app-toast [message]="toast.message"></app-toast>

      <div class="form-size" *ngIf="isEditing">
        <organization-form (ngSubmit)="submitOrganization($event)" (ngCancel)="setOrganizeMode($event)" [model]="currentModel"></organization-form>
      </div>

      <div class="card horizontal-and-vertical-centering " *ngIf="!isEditing && (!organizations || organizations.length === 0)">
        <div class="form-size">
          <strong class="etched-text">You have no <i>organizations</i>.</strong>
          <p>You need to create at least one organization. Then you can create and assign <i>events</i> to an organization.
            <br />An event is the tornament and venue to which you assign games. Note a game can have the same address or a different address from avenue</p>
          <button class="btn btn-primary btn-sm" (click)="goNewOrganization({})" title="Click to create new organization">New Organization</button>
        </div>
      </div>

      <div class="card" *ngIf="!isEditing && organizations?.length > 0">
        <div class="form-size">
          <table class="table table-striped">
            <tr>
              <th *ngFor="let title of titles" scope="col">
                {{title}}
              </th>
            </tr>

            <tr *ngFor="let organization of organizations" (click)="editOrganization(organization.id);">
              <td>
                {{organization.id}}
              </td>
              <td>
                {{organization.name}}
              </td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="editOrganization(organization.id)" title="Click to edit this organization">Edit</button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="goNewOrganization()" title="Click to delete organization">Delete</button>
              </td>
            </tr>
          </table>
          <hr />
          <button class="btn btn-primary btn-sm" style="max-width: 15em;padding: 1em auto" (click)="goNewOrganization()" title="Click to create new organization">New Organization</button>
        </div>
      </div>

    </div>
  </div>
</div>
