:host {
  .elegantshd {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: 0.15em;
  }

  .bigFont {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic,
      'AppleGothic', sans-serif;
    font-size: 40px;
    padding: 3%;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-weight: bolder;
  }

  .container-width {
    width: 100%;
  }

  .rar-list {
    padding: 10px 0px;
    margin: 15px 5px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
}
