<div *ngIf="isViewState('referees')">

  <div class="row">
    <div class="col-md-9">
      <rar-search-box 
      [placeholder]="placeholder"
      (searchEvent)='updateSearchTextFilter($event)'>
      </rar-search-box>
    </div>

    <div class="col-md-3 ">
      <select class="form-control" >
        <option *ngFor="let position of positions" value="email">Email</option>
      </select>
    </div>
  </div>

  <div class="card-block horizontal-and-vertical-centering " *ngIf="(!users || users.length === 0)">
    <div class="form-size">
      <p>There are no active referees.</p>
    </div>
  </div>

  <div class="card-block" *ngIf="users && users.length > 0">

        <div class="row shadow rar-list"  *ngFor="let user of users">
          <div class="col-md-3 pb-2">
            {{user.email}}
          </div>
          <div class="col-md-2 pb-2">
            {{user.status}}
          </div>
          <div class="col-md-3 pb-2">
            <select class="form-control" [(ngModel)]="user.position">
                <option *ngFor="let position of positions" value="{{position.value}}">{{position.label}}</option>
            </select>
          </div>

          <div class="col-md-4">

            <div class="d-flex justify-content-around">
               <button class="btn btn-primary btn-sm" *ngIf="canAssign(user.id)"  (click)="officiateMatch(user.id)" title="Click to assign this Referee to this match">Assign</button>

              <button class="btn btn-danger btn-sm" *ngIf="canUnassign(user.id)" (click)="removeOofficial(user.id)" title="Click to remove this Referee from this match">Remove</button>

              <button class="btn btn-primary btn-sm" (click)="viewSchedule(user.id)" title="Click to view this Referees schedule">Schedule</button>
            </div>

          </div>

        </div> 

        <rar-pagination 
          [count]="page.total_elements" 
          [offset]="page.offset"
          [limit]="page.limit"
          (page)="setPage($event)"></rar-pagination>
  </div>

  <br />
  <button class="btn btn-primary btn-sm" (click)="backToList($event)" title="Click to go back to match list.">Back to List</button>

</div>
<div>
  <rar-admin-schedule *ngIf="isViewState('schedule')" [user]="currentUser" (back)="viewReferees(event)"></rar-admin-schedule>
</div>