<rar-modal
[name]="refereeDetails"
[title]="title"
[size]="size"
[submitText]="submitText"
[cancelText]="cancelText"
(submit)="submitModal($event)"
(cancel)="closeModal($event)"
#refereeDetails
>
	<div class="modal-container">
		<rar-image [errorImage]="defaultImage" [image]="referee?.url" [width]="130"></rar-image>
	</div>

	<div class="modal-container">
		<ng-container *ngIf="referee.person.firstname">
			<span class="officialsName">
				<label>{{referee.person.firstname}}</label>
			</span>	
		</ng-container>
		<ng-container *ngIf="referee.person.middlenames">
			<span class="officialsName">
				<label>{{referee.person.middlenames}}</label>
			</span>	
		</ng-container>
		<ng-container *ngIf="referee.person.lastname">
			<span class="officialsName">
				<label>{{referee.person.lastname}}</label>
			</span>	
		</ng-container>
	</div>

	<div class="modal-container">
		<ng-container *ngIf="referee.email">
			<span class="item">
				<label>{{referee.email}}</label>
			</span>	
		</ng-container>
	</div>

	<ng-container *ngIf="hasPhones(referee)">
		<hr />
		<div class="modal-container">
			<div *ngFor="let phone of referee.orderedPhones; let i=index" class="item">
				<label>{{phone.description}}</label>
				<p>{{phone.number}}</p>
			</div>
		</div>	
	</ng-container>

	<ng-container *ngIf="hasAddresses(referee)">
		<hr />
		<div class="modal-container">
			<div *ngFor="let address of referee.addresses; let i=index" class="item">
                <address>
                	{{address.line1}}<br />
			        <ng-container *ngIf="address.line2">
			           {{address.line2}}<br />
					</ng-container>
                	{{address.city}}<br />
                	<span>
                		<span style="padding-right: 5px">{{address.state}}</span>
                		<span>{{address.zip}}</span>
                	</span>
            	</address>
			</div>
		</div>
	</ng-container>
	
</rar-modal>