:host {
	.modal-container {
		padding: 10px;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
	}

	.officialsName {
		margin: 2px 5px;
	}

	.item {
		margin: 2px 5px;
		min-width: 120px;
		max-width: 120px;
	}
}
