<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-block card-outline-primary">

        <div class="col-8 profiles">
          <div class="card">
            <div class="col-3 rar-logo">
              <rar-image [errorImage]="defaultImage" [image]="getImageAddress()" [width]="120"></rar-image>
            </div>
          </div>
          <div class="card">
            <div class="statuses" *ngIf="!showStatuses">
              <label>Can Organize: 
                <button class="btn btn-sm" (click)="switchView($event)" [ngClass]="setCanOrganizeClass()">{{user.can_organize}}</button>
              </label>
              <label>Can Referee:
                <button class="btn btn-sm"  (click)="switchView($event)" [ngClass]="setCanRefereeClass()">{{user.can_referee}}</button>
              </label>
              <label>Status:
                <button class="btn btn-sm "  (click)="switchView($event)" [ngClass]="setStatusClass()">{{user.status}}</button>
              </label>
            </div>
            <div *ngIf="showStatuses">
              <statuses-form [model]="user" (ngSubmit)="updateStatuses($event)" (ngCancel)="cancelStatusView($event)">
              </statuses-form>
            </div>
          </div>
          <div class="card">
            <div class="fadeInForm">
              <div>
                <strong>Personal details</strong>
              </div>

              <div>
                <label class="profileLabel">Firstname:</label>
                <span class="profileItem">{{person.firstname}}</span>
              </div>

              <div>
                <label class="profileLabel">Middlename: </label>
                <span class="profileItem">{{person.middlenames}}</span>
              </div>

              <div>
                <label class="profileLabel">Lastname:</label>
                <span class="profileItem">{{person.lastname}}</span>
              </div>

              <div>
                <label class="profileLabel">Gender:</label>
                <span class="profileItem">{{person.gender}}</span>
              </div>

              <div>
                <label class="profileLabel">D.O.B:</label>
                <span class="profileItem">{{birthday}}</span>
              </div>
              <div>
                <label class="profileLabel">Email: </label>
                <span class="profileItem">{{user.email}}</span>
              </div>
            </div>
          </div>

          <div class="card">
            <div>
              <strong>Phone</strong>
            </div>

            <ng-container *ngIf="!phones || phones.length === 0">
              <div class="list-group">
                <span class="list-group-item">
                    <strong>There are no phones set up for this person.</strong>
                  </span>
              </div>
            </ng-container>

            <ng-container *ngIf="phones.length > 0">
              <div class="list-group" *ngFor="let phone of phones">
                <div>
                  <label class="profileLabel">{{phone.description}} Phone:</label>
                  <span class="profileItem">{{phone.number}}</span>
                </div>
              </div>
            </ng-container>

          </div>

          <div class="card">
            <div>
              <strong>Address</strong>
            </div>

            <ng-container *ngIf="!addresses || addresses.length === 0">
              <div class="list-group">
                <span class="list-group-item">
                    <strong> There are no addresses set up for this person.</strong>
                  </span>
              </div>
            </ng-container>

            <ng-container *ngIf="addresses.length > 0">
              <div class="list-group" *ngFor="let address of addresses">
                <div>
                  <div>
                    <label class="profileLabel">Address Line 1:</label>
                    <span class="profileItem">{{address.line1}}</span>
                  </div>
                  <div>
                    <label class="profileLabel">Address Line 2:</label>
                    <span class="profileItem">{{address.line2}}</span>
                  </div>
                  <div>
                    <label class="profileLabel">City:</label>
                    <span class="profileItem">{{address.city}}</span>
                  </div>
                  <div>
                    <label class="profileLabel">State: </label>
                    <span class="profileItem">{{address.state}}</span>
                  </div>
                  <div>
                    <label class="profileLabel">ZIP code:</label>
                    <span class="profileItem">{{address.zip}}</span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
