.list-group {
	margin-bottom: 2em;
}

.profile-div {
	margin-left: 1em;
}

.profile-text{
	font-size: 18px;
	color: blue
}

.profile-text2 {
	color:red;
	text-indent: 50px;
	font-weight: bolder;
	background-color: #fff;
}