.list-group {
	margin-bottom: 2em;
}

.profiles .card:nth-child(1) {
	z-index: 10;
}

.profile-div {
	margin-left: 1em;
}

.profile-text {
	font-size: 1.125rem;
	color: blue;
}

.profile-text2 {
	color: red;
	text-indent: 3.125rem;
	font-weight: bolder;
	background-color: #fff;
}

div.card {
	padding: 2em;
}
.card-block .card {
	margin: 1em;
}

.profileLabel {
	text-align: right;
	width: 28%;
	margin: auto 1%;
}

.profileItem {
	display: inline-block;
	width: 67%;
	margin: auto 1%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	background: #fff;
}

.rar-logo {
	cursor: pointer;
	padding: 0;
	img {
		border: 1px solid #000;
	}
}

.statuses {
	display: flex;
	justify-content: space-between;
}
:host /deep/ .card {
	.mat-radio-button {
		padding-right: 10px;
	}
}

