<!--footer start from here-->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <pre> <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
        <span style="display: none;"><button type="button" class="btn btn-sm btn-info " (click)="today()">Today</button></span>
        <div class="logofooter"> <img src="assets/images/reficon1.png" class="img-fluid img-responsive" width=auto alt="Rent A Ref"><img src="assets/images/reftext.gif" class="img-fluid img-responsive" alt="Responsive image" width=50% max-width=100% height=auto display="block"></div>
        <p>Your most trusted gateway to modern sports management. <b>1 STOP</b> to events organization and Referee or Umpires assignment </p>
        <!--<p><i class="fa fa-map-pin"></i> P.O Box: , Corona, CA</p>
        <p><i class="fa fa-phone"></i> Phone (USA) : +1 (949)351-5674</p>-->
        <p><i class="fa fa-envelope"></i> E-mail : info@rentaref.com</p>

      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
            <li><a routerLink="/career" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-briefcase"></i><span style="color: #ffffff"> Career</span>
        </a></li>
            <li data-toggle="modal" data-target="#ordine" (click)="privacy = true">
              <!--<a routerLink="/privacy-policy" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">-->
        <i class="fa fa-file-text-o"></i><span style="color: #ffffff;cursor: pointer;"> Privacy Policy</span>
        </li>
            <li data-toggle="modal" data-target="#ordine" (click)="selectLoad = true; privacy = false">
              <!--<a routerLink="/terms-and-conditions" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">-->
        <i class="fa fa-eye"></i><span style="color: #ffffff;cursor: pointer;" > Terms & Conditions( Referee )</span>
        </li>
      <li data-toggle="modal" data-target="#ordine" (click)="selectLoad = false; privacy = false">
      <i class="fa fa-eye"></i><span style="color: #ffffff;cursor: pointer;"> Terms & Conditions( Organizer )</span>
      </li>
            <li><a routerLink="/faq" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-question-circle-o"></i><span style="color: #ffffff"> Frequently Ask Questions</span>
        </a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <!--<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false"
          style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
          </div>
        </div>-->
      </div>
      <div class="social-icons img-responsive">
        <ul class="nomargin">
          <a href="https://www.facebook.com/rentaref"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
          <a href="https://twitter.com/rentaref"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
          <a href="https://www.instagram.com/rentaref/"><i class="fa fa-instagram fa-3x social-gp" id="social"></i></a>
          <a href="https://www.linkedin.com/company-beta/6407927/"><i class="fa fa-linkedin-square fa-3x social-gp" id="social"></i></a>
          <a href="mailto:info@rentaref.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>&copy; 2017 - Powered by <a href="www.hasmandesign.com"> Hasman Design L.L.C &reg;</a></p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <!--<li><a routerLink="/partners" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-users"></i><span style="color: #ffffff"> Partners</span>
        </a></li>-->
        <li><a routerLink="/about" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-book"></i><span style="color: #ffffff"> About Us</span>
        </a></li>
        <li><a routerLink="/blog" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-rss-square"></i><span style="color: #ffffff"> Blog</span>
        </a></li>
               <li><a routerLink="/contact" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-envelope-o"></i><span style="color: #ffffff"> Contact Us</span>
        </a></li>
        <li><a routerLink="/sitemap" class="nav-item nav-link" aria-hidden="true" routerLinkActive="active">
        <i class="fa fa-sitemap"></i><span style="color: #ffffff"> Site Map</span>
        </a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal start Terms & Conditions Referee-->
<div id="ordine" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ordineLabel" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" *ngIf="!privacy">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <button></button><h4 class="modal-title">Rend-A-Ref Terms and Conditions</h4>
      </div>
      <div class="modal-header" *ngIf="privacy">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <button></button>
        <h4 class="modal-title">Rend-A-Ref Privacy Policy</h4>
      </div>
      <div class="modal-body" *ngIf="!privacy">
        <div class="embed-responsive embed-responsive-16by9" *ngIf="selectLoad">
  <iframe class="embed-responsive-item" src="/assets/src/terms-conditions.txt" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9" *ngIf="!selectLoad">
  <iframe class="embed-responsive-item" src="/assets/src/terms-condition-organizer.txt" allowfullscreen></iframe>
</div>
        <p><span style="color:blue; font-weight:bolder;font-size:14px">Thank you</span></p>
      </div>
      <!--Privacy start-->
<div class="modal-body" *ngIf="privacy">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="/assets/src/privacy.txt" allowfullscreen></iframe>
  </div>
 
  <p><span style="color:blue; font-weight:bolder;font-size:14px">Thank you</span></p>
</div>
      <!--Privacy end-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
  <!--Modal end-->

  <!-- Modal start Terms & Conditions Organizer-->
  <div id="ordineOrganizer" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="ordineLabel" aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Rend-A-Ref Terms and Conditions</h4>
        </div>
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/assets/src/terms-conditions.txt" allowfullscreen></iframe>
          </div>
          <p><span style="color:blue; font-weight:bolder;font-size:14px">Thank you</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
    <!--Modal end-->

  