<div class="card col-sm-12">
  <div class="card">
    <h4 class="card-header elegantshd bigFont">Account deactivated</h4>
    <div class="card-block">
      <div class="card">
        <div class="card-block numberbg">
         
            <p>Sorry, your account has been deactivated.</p>
            <p>Please <span class="profile-text">contact us</span> today and someone will get in touch with you to resolve the issue</p>
            <br><br>
            <p>Thank you!</p>

         
        </div>
      </div>
    </div>
  </div>
</div>