<div class="card col-sm-12">
  <div class="card">
    <h4 class="card-header elegantshd bigFont">Account deactivated</h4>
    <div class="card-block">
      <button type="button" class="btn btn-primary" disabled>User ID: #{{user.id}}  :  {{person.firstname}} {{person.lastname}}</button>
      <div class="list-group">
        <!-->can_organize":"active","can_referee":"active","status":"active"-->
        <span class="list-group-item active">
          <button type="button" class="btn btn-success" disabled>Can Organize: {{user.can_organize}}</button>
        <button type="button" class="btn btn-warning" disabled>Can Referee: {{user.can_referee}}</button> <button type="button"
          class="btn btn-danger" disabled>Status: {{user.status}}</button>
        </span>
      </div>
      <div class="card">
        <div class="card-block numberbg">
         
            <p>Sorry, your account has been deactivated.</p>
            <p>Please <span class="profile-text">contact us</span> today and someone will get in touch with you to resolve the issue</p>
            <br><br>
            <p>Thank you!</p>

         
        </div>
      </div>
    </div>
  </div>
</div>