<!--
<style media="screen">
  body {
    /*margin: 0;
  padding: 0;*/
    /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    /*background: #333;
  background-attachment: fixed;
  background-size: cover;*/
  }
  /* The only rule that matters */

  #video-background {
    /*  making the video fullscreen  
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 50%; 
  min-height: 50%;
  width: auto; 
  height: auto;
  z-index: -100;*/
    position: fixed;
    width: 85%;
    height: auto;
    z-index: -100;
  }
  /* These just style the content */

  article {
    /*  just a fancy border  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;*/
  }

  h1 {
    position: absolute;
    top: 60%;
    width: 100%;
    font-size: 36px;
    letter-spacing: 3px;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
  }

  h1 span {
    font-family: sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  h1 span a {
    color: #fff;
  }
</style>

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
-->

<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<!--<video autoplay loop id="video-background" muted plays-inline>
  <source src="assets/images/background.mp4" type="video/mp4">
</video>-->
<div class="bd-example" id="d1" style="height:200px;">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
<app-carousel [delay]="15000">
  <app-carousel-item >
    <div class="carousel-inner" role="listbox" style="background-color: #42f4f1; text-align: center;opacity: .9;
filter: alpha(opacity=90);height:240px;" id="d1" >
      <div class="carousel-item active">
       <span style="text-align: center"> <img class="img-fluid img-responsive" src="./assets/carousel/carousel.png" alt=""></span>
    <h1 class="title-widget">LARGEST NETWORK OF QUALIFIED REFEREES AND UMPIRES</h1>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label for="name" class="text-white font-weight-bold bg-primary text-white">The future of modern sports management is now. Rent-A-Ref offers a unique platform to organizers and officials.</label>
      </div>
      </div>
      </div>
      </div>
  </app-carousel-item>
  <app-carousel-item>
    <div class="carousel-inner" role="listbox" style="background-color: #42f4f1; text-align: center;opacity: .9;
filter: alpha(opacity=90);height:240px;" id="d1">
      <div class="carousel-item active">
        <span style="text-align: center"><img class="img-fluid img-responsive" src="./assets/carousel/carousel.gif" alt="" width=60%></span>
    
      <h1 class="title-widget"><span style="color: darkmagenta">Resources and commitment</span></h1>
    
    <div class="row">
      <div class="col-sm-12 form-group">
        <label for="name" class="text-white font-weight-bold bg-primary text-white">We are committed to helping you find the right tool to organize your events and the right officials suited for the purpose</label>
      </div>
    </div>
    </div>
    </div>
  </app-carousel-item>
  <app-carousel-item>
    <div class="carousel-inner" role="listbox" style="background-color: #42f4f1; text-align: center;opacity: .9;
filter: alpha(opacity=90);height:240px;" id="d1">
  <div class="carousel-item active">
    <span style="text-align: center"><img class="img-fluid img-responsive" src="./assets/carousel/carousel1.png" alt=""></span>

    <h1 class="title-widget"><span style="color: darkblue">Find a Referee or an Umpire with Just a Few Clicks</span></h1>

    <div class="row">
      <div class="col-sm-12 form-group">
        <label for="name" class="text-white font-weight-bold bg-primary text-white">Each Referee is vetted to make sure they match the skill level of Your Game.</label>
      </div>
    </div>
  </div>
  </div>
  </app-carousel-item>
</app-carousel>
</div>
</div>
<div class="container bg-faded" style="opacity: .9;filter: alpha(opacity=90);">
<div class="row">
  <div class="col-xs-12" >   
      <div class="row">
        <div class="col-sm-2 bg-faded">
          <span style="text-align: left"><img src="assets/images/umpire.jpg" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></span>
          <p> <a routerLink="/referee" class="nav-item nav-link" routerLinkActive="active"><button class="btn btn-primary" type="button">Find a Referee</button></a></p>
        </div>

        <div class="col-sm-8 text-justify">
          <br>
          <h1 class="title-widget">Are you looking for some officials (Soccer referees, umpires etc...) for your event?</h1>
          <hr>
          <label for="refereeNeeded">Rent-A-Ref offers centralized platform where you can find officials who are:</label>
        <!--Start-->
        <hr>

        <div class="card-deck">
          <div class="card">
            <div class="card-block">
              <h4 class="title-widget" style="text-align: center; font-weight: bolder; size: 18px">Certified</h4>
              <p class="card-text"><span style="text-align: lcentereft">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/certified.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></span></p>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <h4 class="title-widget" style="text-align: center; font-weight: bolder; size: 18px">Reliable</h4>
              <p class="card-text"><span style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/reliable.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></span></p>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <h4 class="title-widget" style="text-align: center; font-weight: bolder; size: 18px">Affordable</h4>
              <p class="card-text"><span style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/savemoney.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></span></p>
            </div>
          </div>
        </div>

        <!--End-->
        </div>

        <div class="col-sm-2 bg-faded">
          <span style="text-align: right"><img src="assets/images/red_ref.jpg" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100% align="right"> </span>
          <p> <a routerLink="/referee" class="nav-item nav-link" routerLinkActive="active"><button class="btn btn-primary" type="button">Find a Referee</button></a></p>
        </div>
      </div>
  </div>
</div>
<div>
<div>
<!--Start-->
<hr>

<!--<app-statistics></app-statistics>-->
<!--End-->

</div>
