<div class="bg-faded" style="opacity: .98;background: white">
  <div class="row">
    <div class="col-xs-12">
      <div id="header-carousel" data-ride="carousel">
        <div class="carousel-inner carousel-inner-header">

          <div class="carousel-item active" style="position: relative">
            <span style="text-align: left;"> <img class="img-fluid img-responsive" src="./assets/carousel/carousel.png" style="width: 80%;height:100px;"></span>
            <h1 class="title-widget">LARGEST NETWORK OF QUALIFIED REFEREES AND UMPIRES</h1>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="name" class="text-white font-weight-bold bg-primary text-white">The future of modern sports management is now. Rent-A-Ref offers a unique platform to organizers and officials.</label>
              </div>
            </div>

          </div>

          <div class="carousel-item">
            <span style="text-align: center"><img class="img-fluid img-responsive" src="./assets/carousel/carousel.gif" style="width: 60%;"></span>

            <h1 class="title-widget"><span style="color: darkmagenta">Resources and commitment</span></h1>

            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="name" class="text-white font-weight-bold bg-primary text-white">We are committed to helping you find the right tool to organize your events and the right officials suited for the purpose</label>
              </div>
            </div>
          </div>
          <!-- Quote 3 -->
          <div class="carousel-item">
            <span style="text-align: center">
                                                <img class="img-fluid img-responsive" src="./assets/images/hockey-blue-background.jpg" style="width: 70%;"></span>

            <h1 class="title-widget"><span style="color: darkblue;-moz-text-size-adjust: 26px;size: 26px">Find a Referee or an Umpire with Just a Few Clicks</span></h1>

            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="name" class="text-white font-weight-bold bg-primary text-white" style="color: darkblue;-moz-text-size-adjust: 20px;size: 20px">Each Referee is vetted to make sure they match the skill level of Your Game.</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-2 bg-faded">
          <span style="text-align: left">
            <img src="assets/images/umpire.jpg" class="img-fluid img-responsive" alt="Responsive image" width="70%" max-width="100%">
          </span>
          <p> 
            <a routerLink="/referee" class="nav-item nav-link" routerLinkActive="active">
              <button class="btn btn-primary btn-responsive" type="button">Request a Referee</button>
            </a>
          </p>
        </div>

        <div class="col-sm-8 text-justify">
          <h1 class="title-widget">Are you looking for some officials (Soccer referees, umpires etc...) for your event?</h1>
          <hr>
          <label for="refereeNeeded">Rent-A-Ref offers centralized platform where you can find officials who are:</label>
          <!--Start-->
          <hr>

          <div class="card-deck">
            <div class="card">
              <div class="card-block">
                <h4 class="title-widget title-widget-text">Certified</h4>
                <p class="card-text"><span style="text-align: center;display: block; margin: auto;"><img src="assets/images/certified.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></span></p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="title-widget title-widget-text">Reliable</h4>
                <p class="card-text"><span style="text-align: center;display: block; margin: auto;"><img src="assets/images/reliable.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></span></p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="title-widget title-widget-text">Affordable</h4>
                <p class="card-text"><span style="text-align: center;display: block; margin: auto;"><img src="assets/images/savemoney.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></span></p>
              </div>
            </div>
          </div>

          <!--End-->
        </div>

        <div class="col-sm-2 bg-faded">
          <span style="text-align: right">
            <img src="assets/images/red_ref.jpg" class="img-fluid img-responsive" alt="Responsive image" width=70% max-width=100% align="right"> 
          </span>
          <p> 
            <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active">
            <button class="btn btn-primary btn-responsive" type="button">Join us as a Referee</button>
            </a>
          </p>
        </div>
      </div>

      <!--Start-->

      <hr>
      <div class="row">
        <div class="col-lg-12 text-xs-center">
          <h1 class="content-header elegantshd bigFont">Find Games Near You</h1>

          <div class="card-deck">
            <div class="card">
              <div class="card-block" style="padding-top: 20px;line-height: 70%;">

                <p>
                  <span style="text-align: center;display: block; margin: auto;font-size:22px;font-weight: bolder;line-height: 1.5;">
                  <strong>Are you currently a Referee?</strong> Have you thought about becoming a Referee? Then you've come to the right place!</span></p>
                <p><img src="assets/images/field.jpg" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%></p>
                <p class="card-text"><span style="text-align: center;display: block; margin: auto;font-size:22px;color: red;font-weight: bolder;line-height: 1.5;"><strong>Rent-A-Ref</strong> partners with leagues, teams and sports enthusiasts to provide a consistent schedule of games.</span></p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-3 col-sm-3">
                    <img src="assets/images/globe.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%>
                  </div>
                  <div class="col-8 col-sm-8" style="padding-top: 20px;line-height: 70%;">
                    <h1>Convenient Locations!</h1><br> Get notified when games are near you.
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 col-sm-3">
                    <img src="assets/images/calendar.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%>
                  </div>
                  <div class="col-8 col-sm-8" style="padding-top: 20px;line-height: 70%;">
                    <h1>Consistent Schedule!</h1><br> More games = Consistent Schedule.
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 col-sm-3">
                    <img src="assets/images/cup.png" class="img-fluid img-responsive" alt="Responsive image" width=80% max-width=100%>
                  </div>
                  <div class="col-8 col-sm-8" style="padding-top: 20px;line-height: 70%;">
                    <h1>Work with City Leagues!</h1><br> Referees can Officiate for City Leagues.
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <!--End-->
      <!--Start-->
      <hr>
      <div class="row">
        <div class="col-lg-12 text-xs-center">
          <h1 class="content-header elegantshd bigFont">Multi-Sport platform</h1>
        </div>


        <div class="col-12">
          <div class="col-md-3">
            <label class="btn btn-primary">
              <img src="assets/images/Running.png" alt="..." class="img-thumbnail img-check">
            </label>
          </div>
          <div class="col-md-3">
            <label class="btn btn-primary">
              <img src="assets/images/Basketball.png" alt="..." class="img-thumbnail img-check">
            </label>
          </div>
          <div class="col-md-3">
            <label class="btn btn-primary">
              <img src="assets/images/football.png" alt="..." class="img-thumbnail img-check">
            </label>
          </div>
          <div class="col-md-3">
            <label class="btn btn-primary">
              <img src="assets/images/Soccer.png" alt="..." class="img-thumbnail img-check">
            </label>
          </div>
        </div>
      </div>

      <!--End-->
      <!--Start News-->
      <hr>
      <h4 class="elegantshd bigFont">Statistics</h4>
      <div class='row' style="padding: 10px; margin: 10px">
        <div class='col-md-offset-2 col-md-12'>
          <div class="col-sm-12">
            <div class="main-wrapper">
              <div class="card card-block bg-inverse frameHeight">
                <h4>Games in progress / Request</h4>
                <div class="col-sm-8">
                  <app-barchart *ngIf="chartData" [data]="chartData"></app-barchart>
                </div>
                <div class="col-sm-4 text-white">
                  <span>
                    <ol>
                        <li> --> Games request</li>
                        <li> --> Games currently assigned</li>
                        <li> --> Games in progress</li>
                        <li> --> Referees Available</li>
                        <li> --> Interest from Organizers and Referees</li>
                      </ol>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <h4 class="elegantshd bigFont">In the News</h4>
      <div class='row' style="padding: 10px; margin: 10px">
        <div class='col-md-offset-2 col-md-12'>
          <div class="carousel slide" data-ride="carousel" id="news-carousel">
            <ol class="carousel-indicators">
              <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#news-carousel" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner">

              <div class="carousel-item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <img class="img-responsive" src="/assets/images/pay.png" style="width: 10%">
                      <img class="img-responsive" src="/assets/images/st-logo-smaller.gif" style="width: 10%">
                      <p><img class="img-responsive" src="/assets/images/st-header.png"></p>
                    </div>
                    <div class="col-sm-12 ">
                      <h6 [innerHtml]="text1"></h6>
                      <a href="https://www.sporttechie.com/sporttechie-startup-profile-series-rent-ref/" target="_blank">
                        <button class="btn btn-responsive btn-danger">Read More...</button>
                      </a>
                    </div>
                  </div>
                </blockquote>
              </div>

              <div class="carousel-item" style="padding: 10px; margin: 10px">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <img class="img-responsive" src="/assets/images/pymnts.png" style="width: 20%">
                      <p><img class="img-responsive" src="/assets/images/py-header.png"></p>
                    </div>
                    <div class="col-sm-12 ">
                      <h6 [innerHtml]="text2"></h6>
                      <a href="http://www.pymnts.com/uber-of-x/2016/uber-of-x-rent-a-ref-sports-officials-for-any-game-or-tournament/" target="_blank">
                        <button class="btn btn-responsive btn-danger">Read More...</button>
                      </a>
                    </div>
                  </div>
                </blockquote>
              </div>

            </div>

            <!-- Carousel Buttons Next/Prev -->

            <a data-slide="prev" href="#news-carousel" class="carousel-control-prev"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#news-carousel" class="carousel-control-next"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>

      <!--End news-->
      <!--Start Quotes-->
      <hr>
      <h4 class="elegantshd bigFont">What's Being Said</h4>
      <div class='row'>
        <div class='col-md-offset-2 col-md-12'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
              <li data-target="#quote-carousel" data-slide-to="3"></li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <div class="carousel-item" [class.active]="first" *ngFor="let item of bottomCarousel; let i=index; let first=first">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle quotePic" src="{{item.url}}" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9 ">
                      <h6 class="quoteFont">{{item.text}}</h6>
                      <div class="quoteAuthor text-center">
                        <span style="color: #FFF;font-size:24px;font-weight:bolder"><cite>{{item.author}}</cite></span>
                        <br>
                        <span style="color: blue;font-size:16px;font-weight:bolder" [innerHtml]="item.quote"></span>
                      </div>
                    </div>
                  </div>
                </blockquote>
              </div>

            </div>

            <!-- Carousel Buttons Next/Prev -->

            <a data-slide="prev" href="#quote-carousel" class="carousel-control-prev"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="carousel-control-next"><i class="fa fa-chevron-right"></i></a>

          </div>
        </div>
      </div>
      <!--End quotes-->

    </div>
  </div>

</div>
