:host {
	/deep/ .datatable-row-group {
		cursor: pointer;
	}
	.rar-list {
		padding: 10px 0px;
		margin: 0;
		border: 1px solid #d9e1e8;
		border-bottom: none;
		cursor: pointer;
	}
	.match-name {
		color: #51697a;
		font-size: 1.4rem;
	}
	.data-grid {
		max-width: 800px;
		margin: 25px auto;
	}
	.game-data {
		color: #000;
		font-size: 1rem;
		font-weight: bold;
	}
}
