<div class="row">
  <div class="col-12" style="min-height: 100%">
    <div class="card" *ngIf="isScheduleView()">

      <rar-search-box 
      [placeholder]="placeholder"
      (searchEvent)='updateSearchTextFilter($event)'
      ></rar-search-box>

      <div class="card-block horizontal-and-vertical-centering " *ngIf="(!schedule || schedule.length === 0)">
        <div class="form-size">
          <p>You have no matches in your schedule.</p>
        </div>
      </div>
<!--
      <ng-template [ngIf]="schedule && schedule.length > 0">
        <div class="row shadow" *ngFor="let item of schedule;let i=index" style="border: 1px solid;">
          <div class="col-xs-12 col-md-2" style="font-weight: bold;">{{item.id}}</div>
          <div class="col-xs-12 col-md-2" style="font-size: 1.1em; ">{{formatDate(item.id)}}</div>
          <div class="col-xs-12 col-md-8" style="font-size: 1.3em;font-weight: 600">{{item.venue_name}}</div>
        </div>
      </ng-template>
  -->
      <div class="card-block" *ngIf="schedule && schedule.length > 0">

        <ngx-datatable class="bootstrap"
          [rows]="schedule"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [externalSorting]="true"
          [loadingIndicator]="isLoading"
          (sort)="onSortTableColumn($event)"
          [externalPaging]="true"
          [count]="page.total_elements"
          [offset]="page.offset"
          [limit]="page.limit"
          (page)='setPage($event)'
          [selected]="selected"
          [selectionType]="'single'"
          (activate)="onActivate($event)"
          (select)='onSelectTableRow($event)'
          >
          <ngx-datatable-column name="Match Name" prop="match_name" editable="false"></ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="id" editable="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
            {{ formatDate(value) }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Age" prop="age" editable="false"></ngx-datatable-column>
          <ngx-datatable-column name="Venue" prop="venue_name" editable="false"></ngx-datatable-column>

          <ngx-datatable-column name="Accept Match" prop="id" editable="true">
           <ng-template let-value="value" ngx-datatable-cell-template>
                <button class="btn btn-primary btn-sm" (click)="acceptMatch($event)" title="Click to accept a match" *ngIf="canAccept(value)">Accept</button>
                <input type="hidden" name="{{value}}" value="{{value}}">
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Decline Match" prop="id" editable="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-danger btn-sm" (click)="declineMatch($event)" title="Click to decline a match" *ngIf="canDecline(value)">Decline</button>

              <button class="btn btn-danger btn-sm" (click)="declineMatch($event)" title="Click to the match back to the Admin." *ngIf="canTurnBack(value)">Turn Back</button>
              <input type="hidden" name="{{value}}" value="{{value}}">
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

        <div class="row shadow rar-list"  *ngFor="let game of schedule">
          <div class="col-sm-2 pb-2">
            {{ formatDate(game.id) }} <br>
            Time
          </div>

          <div class="col-md-2 pb-2">
            {{ game.match_name }}
          </div>

          <div class="col-12">
            {{ game.venue_name}}-{{game.address.line1}}
          </div>

          <div class="col-md-2 pb-2">
            {{ game.position }}
          </div>

          <div class="col-md-4">
asdfa
            <div class="d-flex justify-content-around">
              <button class="btn btn-primary btn-sm" (click)="acceptMatch($event)" title="Click to accept a match" *ngIf="canAccept(game.id)">Accept</button>

              <button class="btn btn-danger btn-sm" (click)="declineMatch($event)" title="Click to decline a match" *ngIf="canDecline(game.id)">Decline</button>

              <button class="btn btn-danger btn-sm" (click)="declineMatch($event)" title="Click to the match back to the Admin." *ngIf="canTurnBack(game.id)">Turn Back</button>

              <input type="hidden" name="{{game.id}}" value="{{game.id}}">
            </div>

          </div>

        </div> 

        <rar-pagination [page]="page"></rar-pagination> 
      </div>
  

    </div>

    <div *ngIf="isMatchView()">
      <rar-match-detail [user]="user" [match]="selectedMatch" (back)="backToSchedule($event)"></rar-match-detail>
    </div>
  </div>
</div>
