<div class="row">
  <div class="col-12">
    <div class="card" *ngIf="isScheduleView()">

      <rar-search-box 
      [placeholder]="placeholder"
      (searchEvent)='updateSearchTextFilter($event)'
      ></rar-search-box>

      <div class="card-block horizontal-and-vertical-centering " *ngIf="(!schedule || schedule.length === 0)">
        <div class="form-size">
          <p>You have no matches in your schedule.</p>
        </div>
      </div>

      <div class="card-block" *ngIf="schedule && schedule.length > 0">

        <div class="shadow data-grid">
          
          <div class="row rar-list"  *ngFor="let game of schedule" (click)="rowSelected(game)">
            <div class="col-sm-12">
              <div class="row game-data">
                <div class="col-md-2">
                  <span>{{ game.id }}</span>
                </div>
                <div class="col-md-2">
                  {{ game.age }}
                </div>
                <div class="col-md-4">
                  <div class="d-flex justify-content-between">
                    <span class="d-inline-block">{{ formatDate(game) }}</span>
                    <span class="d-inline-block">{{ formatTime(game) }}</span>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="d-flex justify-content-between">
                    <span class="d-inline-block">{{ getPosition(game) }}</span>
                    <span class="d-inline-block">$100.00</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-12" >
                  <span class="match-name"> {{ game.match_name }}</span>
                </div>
                <div class="col-md-12" >
                  <div class="d-flex justify-content-start">
                    <span class="d-inline-block">{{ game.venue_name }}</span>
                    <span class="d-inline-block">{{ game.address.line1 }}</span>
                    <span class="d-inline-block">{{ game.address.line2 }}</span>
                    <span class="d-inline-block">{{ game.address.city }}</span>
                    <span class="d-inline-block">{{ game.address.state }}</span>
                    <span class="d-inline-block">{{ game.address.zip }}</span>
                  </div>
                </div>
                <div class="col-md-12">
    
                    <button class="btn btn-primary btn-sm" id="a{{game.id}}" (click)="acceptMatch($event)" title="Click to accept a match" *ngIf="canAccept(game)">Accept</button>

                    <button class="btn btn-danger btn-sm" id="b{{game.id}}"  (click)="declineMatch($event)" title="Click to decline a match" *ngIf="canDecline(game)">Decline</button>

                    <button class="btn btn-danger btn-sm" id="c{{game.id}}" (click)="declineMatch($event)" title="Click to the match back to the Admin." *ngIf="canTurnBack(game)">Turn Back</button>

       
                </div>
              </div>
            </div>

          </div>           

        </div>

        <ngb-pagination [collectionSize]="250" [page]="1" [maxSize]="5" size="md"></ngb-pagination>
        <rar-pagination [page]="page"></rar-pagination> 
      </div>
  

    </div>

    <div *ngIf="isMatchView()">
      <rar-match-detail [user]="user" [match]="selectedMatch" (back)="backToSchedule($event)"></rar-match-detail>
    </div>
  </div>
</div>
