	<div class="col-xs-12 col-sm-6 col-lg-6">
		<agm-map [latitude]="location.lat" [longitude]="location.lng">
		  <agm-marker [latitude]="location.marker.lat" [longitude]="location.marker.lng"></agm-marker>
		  <!--
		  <agm-circle [latitude]="location.marker.lat" [longitude]="location.marker.lng"
		  [(radius)]="circleRadius"
		  [fillColor]="'blue'"
		  [circleDraggable]="true"
		  [editable]="true"></agm-circle> -->
		  <agm-direction [origin]="origin" [destination]="destination" (onChange)="onDirectionChange($event)" [visible]="show"  [panel]="myPanel"></agm-direction>
		</agm-map>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6">
		<div #myPanel class="directions"></div>
	</div>
