<div class="wrapper">
	<div class="map-wrapper">
		<agm-map [latitude]="location.lat" [longitude]="location.lng">
		  <agm-marker [latitude]="location.marker.lat" [longitude]="location.marker.lng"></agm-marker>
		  <!--
		  <agm-circle [latitude]="location.marker.lat" [longitude]="location.marker.lng"
		  [(radius)]="circleRadius"
		  [fillColor]="'blue'"
		  [circleDraggable]="true"
		  [editable]="true"></agm-circle> -->
		  <agm-direction
		  	*ngIf="showDirections"
		  	 [origin]="origin"
		  	 [destination]="destination"
		  	 [visible]="showDirections"
		  	 [panel]="myPanel"
		  	 (onChange)="onDirectionChange($event)"></agm-direction>
		</agm-map>
	</div>
	<div class="directions" *ngIf="showDirections">
		<div #myPanel></div>
	</div>
</div>