<div class="wrapper">
	<div class="map-wrapper">
		<google-map
			*ngIf="apiLoaded"
			[center]="{ lat: location.lat, lng: location.lng }"
			[zoom]="location.zoom || 8">
			<map-marker
				*ngIf="!showDirections"
				[position]="{ lat: location.marker.lat, lng: location.marker.lng }"></map-marker>
			<map-directions-renderer
				*ngIf="showDirections && directionsResult"
				[directions]="directionsResult"></map-directions-renderer>
		</google-map>
	</div>
	<div #myPanel class="directions">
	</div>
</div>