<div class="card" style="min-height: 300px;">
  <h4>Manage Users</h4>

  <div class="card-block horizontal-and-vertical-centering " *ngIf="(!users || users.length === 0)">
    <div class="form-size">
      <p>There are no registered users.</p>
    </div>
  </div>

  <div class="card-block" *ngIf="users && users.length > 0">
    <table class="table table-bordered table-hover sortable-table" >
      <thead class="thead-light">
        <tr>
          <th (click)="sortTable('email')">Email</th>
          <th (click)="sortTable('organize')">Organizer</th>
          <th (click)="sortTable('referee')">Referee</th>
          <th (click)="sortTable('status')">Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.email}}</td>
          <td>{{user.can_organize}}</td>
          <td>{{user.can_referee}}</td>
          <td>{{user.status}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)" [disabled]="currentUser.id === user.id">
            <i class="fa fa-wrench"></i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>