:host {
  .min-height {
    min-height: 750px;
  }

  /deep/ .datatable-body-cell-label {
    width: 100%;
    height: 100%;
  }

  /deep/ .datatable-row-group {
    cursor: pointer;
  }

  .cell-item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .search-container {
    display: flex;
    justify-content: flex-start;
  }

  table {
    width: 100%;
  }
}
