<div class="card min-height" *ngIf="!viewProfile">
  <h1 class="etched-text">Manage Users</h1>
  
  <rar-search-box 
  [placeholder]="placeholder"
  (searchEvent)='updateFilter($event)'
  ></rar-search-box>

  <div class="card-block horizontal-and-vertical-centering " *ngIf="(!users || users.length === 0)">
    <div class="form-size">
      <p>There are no registered users.</p>
    </div>
  </div>

  <div class="card-block" *ngIf="users && users.length > 0">

    <ngx-datatable class="bootstrap"
      [rows]="users"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalSorting]="true"
      [loadingIndicator]="isLoading"
      (sort)="onSort($event)"
      [externalPaging]="true"
      [count]="page.total_elements"
      [offset]="page.offset"
      [limit]="page.limit"
      (page)='setPage($event)'
      [selected]="selected"
      [selectionType]="'single'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'
      >
      <ngx-datatable-column name="" prop="id" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <rar-image [errorImage]="defaultImage" [image]="getImageAddress(value)" [width]="50"></rar-image>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="cell-item">
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Firstname" prop="firstname" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="cell-item">
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Lastname" prop="lastname" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="cell-item">
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Gender" prop="gender" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="cell-item">
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Organizer" prop="can_organize" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="cell-item">
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Referee" prop="can_referee" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="cell-item">
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="status" editable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="cell-item">
            {{value}}
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
 
  </div>
</div>

<div class="card min-height" *ngIf="viewProfile">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a (click)="backToList($event)">Users</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
  <rar-admin-profile [user]="selectedUser" (userUpdated)="userUpdated()"></rar-admin-profile>
</div>