<div class="card col-sm-12">
  <div class="card">
    <h4 class="elegantshd bigFont">Create Post</h4>
    <div class="card-block">
<div class="row">
  <div class="col-12">
    <app-toast [message]="toast.message"></app-toast>

    <div class="card">
      <div class="card form-size">
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
          <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
            <button type="submit" class="btn btn-primary btn-sm"  [disabled]="form.invalid"><i class="fa fa-paper-plane-o"></i>&nbsp;Send</button>
          </formly-form> 
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
