<div class="fadeInForm">

    <form [formGroup]="phoneForm" (ngSubmit)="onPhoneSubmit()">
      <div class="input-group" [ngClass]="{ 'has-danger': phoneForm.get('number').touched && phoneForm.get('number').invalid }">

        <label class="center-block">Phone:
          <select class="form-control" formControlName="description">
            <option value="" selected disabled>Type</option>
            <option value="mobile">Mobile</option>
            <option value="home">Home</option>
            <option value="work">Work</option>
            <option value="other">Other</option>
          </select>

          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <input class="form-control" formControlName="number">
        </label>

      </div>

      <br>
      <div>
        <button type="submit" title="Save phone information." class="btn btn-primary btn-sm" [disabled]="phoneForm.invalid"><i class="fa fa-save"></i>Save</button>
        <button title="Cancel phone information." class="btn btn-secondary btn-sm" (click)="onCancel($event)"><i class="fa fa-times"></i>Cancel</button>
      </div>
    </form>
</div>
