<!--
<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
  <div class="form-row">
    <label for="card-info">Stripe Payment</label>
    <div id="card-info" #cardInfo></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>

  <button type="submit">Pay $7.77</button>
</form>

<mat-card>
  <mat-slider></mat-slider>
  <mat-slider disabled></mat-slider>
  <mat-slider value="75"></mat-slider>
</mat-card>
-->
<mat-card>
  <header>
    <h1>Payment</h1>
  </header>
  <br />

  <div style="max-width: 500px">
    <table class="table">
    <tbody>
      <tr class="org-table-item ">
        <td class="text-left">
          Kids Referees
        </td>
        <td class="text-right">
          5 x 100
        </td>
        <td class="text-right">
          $200.00
        </td>
      </tr>
      <tr class="org-table-item ">
        <td class="text-left">
          Teens Referees
        </td>
        <td class="text-right">
          0 x 100
        </td>
        <td class="text-right">
          $0.00
        </td>
      </tr>
      <tr class="org-table-item ">
        <td class="text-left">
          Adults Referees
        </td>
        <td class="text-right">
          0 x 100
        </td>
        <td class="text-right">
          $0.00
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
      </tr>
      <tr class="org-table-item ">
        <td colspan="2" class="text-right">
          TOTAL
        </td>
        <td class="text-right">
          $200.00
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Stripe Payment</label>
      <div id="card-info" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>

    <button mat-raised-button type="submit">Pay $7.77</button>
  </form>
</mat-card>

