<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<div class="card col-sm-12">
<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Account settings</h4>
  <div class="card-block">
    <button type="button" class="btn btn-primary btn-sm" disabled>User ID: #{{user.id}}  :  {{person.firstname}} {{person.lastname}}</button>
    <div class="list-group">
      <!-->can_organize":"active","can_referee":"active","status":"active"-->
      <span class="list-group-item active">
          <button type="button" class="btn btn-success btn-sm" disabled>Can Organize: {{user.can_organize}}</button>
        <button type="button" class="btn btn-warning btn-sm" disabled>Can Referee: {{user.can_referee}}</button> <button type="button"
          class="btn btn-danger btn-sm" disabled>Status: {{user.status}}</button>
        <span *ngIf="user.can_referee == 'active'">
          Available to referee: <select class="selectpicker" name="available" [(ngModel)]="user.available">      
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        </span>
        </span>

    </div>
    

    <!--<form #accountForm="ngForm" (ngSubmit)="save(user)">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="firstname" [(ngModel)]="user.firstname" placeholder="Firstname" required>
      </div>
            <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="lastname" [(ngModel)]="user.lastname" placeholder="Lastname" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
      </div>-->
      <!--<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="role" [(ngModel)]="user.role">
          <option value="" disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>-->
      <!--<button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
        <i class="fa fa-save"></i> Save
      </button>
    </form>-->
  </div>
  <div class="list-group" *ngIf="user.can_organize == 'no'">
    <label>In order to organize events, you need to <button type="button" class="btn btn-sm btn-success" (click)="onActivate()">Activate </button> the Organizer account</label>
  </div>
  <div class="list-group" *ngIf="user.can_referee == 'no'">
    <label>Do you want to be a referee? please click <button type="button" class="btn btn-sm btn-warning" (click)="onRefereeActivate()">Activate </button> to activate your referee account</label>
  </div>
  <div class="list-group" *ngIf="user.can_organize == 'active'">
<label>Please click <button type="button" class="btn btn-sm btn btn-success" (click)="onOrganize()">Organize </button> to <strong>organize or request referee(s)</strong> to your event(s)</label>
  </div>
  <h4 class="card-header elegantshd bigFont">Announcements</h4>
</div>
</div>