<div class="row">
  <div class="col-12">
    <app-toast [message]="toast.message"></app-toast>

    <div class="card">
      <div class="form-size">
        <form [formGroup]="form" (ngSubmit)="login(model)">
          <formly-form [model]="model" [fields]="fields">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-sign-in"></i> Login</button>
            <button class="btn btn-link" type="button" (click)="forgot()"><i class="fa fa-sign-in"></i>Forgot Password</button>
          </formly-form>
        </form>
      </div>
    </div>
  </div>
</div>
